/* ===================================================================================================================== */
/* TODO:  STYLING FOR SHOPMAX - LOGO - SEARCH BAR - SOCIAL MEDIA                                                         */
/* ===================================================================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

/* ===================================================================================================================== */
/* TODO:  PART 1 - CONTAINER (ALL) - HAVE THE LOGO, SEARCH BAR and SOCIAL MEDIA LINKS INSIDE                             */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 1)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

.container_all {
  position: relative;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

/* ===================================================================================================================== */
/* TODO:  PART 2 - CONTAINER (LOGO) - COMPANY LOGO                                                                                                     */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 2)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

.container_image {
  position: relative;
  margin: 0.5rem 0.5rem 0.2rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid red; */
}

/* FIXME:  SHOPMAX LOGO SCALING (100%) = FACTOR 4.91         */
/* WIDTH = 50rem (500px) ==>  HEIGTH = 10.185rem (101.85px)  */
/* WIDTH = 45rem (450px) ==>  HEIGTH =  9.167rem  (91.67px)  */
/* WIDTH = 40rem (400px) ==>  HEIGTH =  8.148rem  (81.48px)  */
/* WIDTH = 35rem (350px) ==>  HEIGTH =  7.130rem  (71.30px)  */
/* WIDTH = 30rem (300px) ==>  HEIGTH =  6.111rem  (61.11px)  */
/* WIDTH = 25rem (250px) ==>  HEIGTH =  5.093rem  (50.93px)  */
/* WIDTH = 20rem (200px) ==>  HEIGTH =  4.074rem  (40.74px)  */
/* WIDTH = 15rem (150px) ==>  HEIGTH =  3.056rem  (30.56px)  */
/* WIDTH = 10rem (100px) ==>  HEIGTH =  2.037rem  (20.37px)  */

.container_image .logo {
  /* width: 80%; */
  width: 20rem;
  height: 4.074rem;
  margin: auto;
  display: block;
  /* border: 1px solid purple; */
}

/* ===================================================================================================================== */
/* TODO:  PART 3 - CONTAINER (SEARCH) - SEARCH BAR                                                                                                      */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 3)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

.container_search {
  position: relative;
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid blue; */
}

/* .container_search .logo {
  width: 30%;
  margin: auto;
  display: block;
  border: 1px solid purple;
} */

/* ============================= */

.container {
  /* 1.  Set the POSITION, LEFT and TOP to center the content in middel */
  /* 2.  Use the TRANSFORM property for TRANSLATE */
  position: relative;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  margin: 0rem 0rem 0rem 0rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  /* justify-content: center;
  align-items: center; */
}

/* .title { */
/* 1.  Set the color of the TEXT */
/* 2.  Set TEXT-TRANSFORM to uppercase */
/* 3.  TEXT-ALIGN the text to center */
/* 4.  Set the bottom MARGIN for some spacing between Text and Other Conent */
/* 5.  Set FONT-SIZE and FONT-FAMILY */
/* 6.  Set the TEXT-SHADOW */
/* color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 3rem 0;
  font-size: 3.8rem;
  font-family: "roboto", sans-serif;
  text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.4);
} */

.form_group {
  /* 1.  Set the BACKGROUND-COLOR */
  /* 2.  Set the DISPLAY to flex to position items next to each other */
  /* 3.  Set the WIDTH and HEIGHT of the form=group */
  /* 4.  Add some Internal Padding for the form-group - Top / right / bottom / left */
  /* 5.  Set a BORDER-RADIUS to round the edges of the form-group "container" */
  /* 6.  Add a BOX-SHADOW around the form-group "container */
  background-color: #fff;
  display: flex;
  width: 50vw;
  height: 3rem;
  padding: 0.3rem 0.8rem 0.3rem 0rem;
  border-radius: 2rem;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.35);
  /* border: 1px solid black; */
}

.dropdown {
  /* 1.  Set the POSITION to RELATIVE for the the List Items to be position  */
  /* 2.  Set the WIDTH of the "Dropdown" */
  /* 3.  Set the PADDING of the "Dropdown" */
  /* 4.  Set the text color of the "Dropdown" items */
  /* 5.  Set a BORDER to the right */
  /* 6.  Set the CURSOR to POINTER */
  position: relative;
  /* top: 1%;
  left: 1%;
  transform: translate(-1%, -1%); */
  width: 20rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  color: #000000;
  font-size: 1.2rem;
  font-family: "open sans", sans-serif;
  border-right: 3px solid #dc143c;
  cursor: pointer;
}

.default_option {
  /* 1.  Set the PADDING for the "CATEGORY" */
  /* 2.  TRANSFORM the text to UPPERCASE */
  padding: 0.3rem 0.2rem 0.3rem 0.5rem;
  text-transform: lowercase;
}

.dropdown_list ul {
  /* 1.  Remove the "Bullet Point" by setting LIST STYLE */
  /* 2.  Set the BACKGROUND COLOR of the dropdown list */
  /* 3.  Set the text color of the unordered list */
  /* 4.  TRANSFORM the text to UPPERCASE */
  /* 5.  Set POSITION to ABSOLUTE */
  /* 6.  Set TOP, LEFT, WIDTH */
  /* 7.  Set the BORDER-RADIUS of the dropdown box */
  /* 8.  Set initial DISPLAY of the Dropdown-list to none - Should only appear on click */
  margin: 1rem 0rem 0rem -0.4rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  list-style: none;
  background-color: #faf9f6;
  color: black;
  text-transform: lowercase;
  position: absolute;
  width: 15.25rem;
  border-radius: 1rem;
  border: 1px solid #faf9f6;
  display: none;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35);
}

/* ==================================================================== */
/* TODO: JavaScript ELement Below                                       */
/* ==================================================================== */

/* GENERAL NOTE:  By using the JQUERY JavaSCript Library will ensure
   1.  Dropdown List becomes active when clicked
   2.  Selected Category will display as Default Option
   3.  Dropdown will close when clicked anywhere else  */

.dropdown_list ul.active {
  display: block;
}

/* ==================================================================== */
/* ==================================================================== */

.dropdown_list ul li {
  /* 1.  Set the PADDING of the List-Items */
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
}

.dropdown_list ul li i {
  /* 1.  Set a MARGIN to the right of the LIST ICONS  */
  margin-right: 0.75rem;
}

.dropdown::before {
  content: "";
  border-width: 0.6rem 0.6rem 0rem 0.6rem;
  border-style: solid;
  border-color: #1d1d1d transparent;
  position: absolute;
  right: 2rem;
  top: 50%;
}

.dropdown_list ul li::before {
  content: "";
  border-width: 0rem 0.8rem 0.8rem 0.8rem;
  border-style: solid;
  border-color: #fff transparent;
  position: absolute;
  bottom: 100%;
  right: 2rem;
}

.dropdown_list ul li:hover {
  background-color: #faf9f6;
  color: #f44336;
  font-weight: bold;
  border-radius: 5px;
}

.search {
  /* 1.  Set the search "containers" WIDTH and HEIGHT */
  width: 50vw;
  height: 100%;
}

.search_input {
  /* 1.  Set the search INPUT FIELD's WIDTH and HEIGHT */
  /* 2.  Remove the BORDER of the INPUT FIELD */
  /* 3.  Set the inner PADDING of the INPUT FIELD */
  /* 4.  Set the text COLOR of INPUT FIELD */
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 1.2rem;
  font-family: "open sans", sans-serif;
  padding: 0rem 0.5rem 0rem 1rem;
  color: #000000;
}

.search_submit {
  /* 1.  Set the BACKGROUND-COLOR of the SEARCH-SUBMIT Button */
  /* 2.  Set the BORDER, WIDTH and HEIGHT of the Button */
  background-color: #fff;
  border: none;
  width: 50px;
  height: 100%;
  cursor: pointer;
}

.search_submit .fa-search {
  /* 1.  Set the FONT-SIZE of the Font Awesome Search Icon */
  font-size: 1.8rem;
  color: #dc143c;
}

.search_submit .fa-search:hover {
  /* 1.  Set the Hover Properties of the Search Icon */
  font-size: 2rem;
  color: #000000;
}

input,
button:focus {
  outline: none;
}

/* ===================================================================================================================== */
/* TODO:  PART 4 - CONTAINER (SOCIAL) - SOCIAL MEDIA LINKS                                                                                                      */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 4)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

.container_social {
  position: relative;
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid green; */
}

/* .container_social .logo {
  width: 30%;
  margin: auto;
  display: block;
  border: 1px solid purple;
} */

/* THE INTERNAL ITEMS */

:root {
  --color-facebook1: #1877f2;
  --color-facebook2: #3b5998;
  --color-instagram: #c32aa3;
  --color-twitter: #1da1f2;
  --color-linkedin: #0a66c2;
  --color-youtube: #ff0000;
  --color-whatsapp: #25d366;
  --color-wishlist: #555555;
  --color-shopping: #555555;
}

/* body { */
/* margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.6;
  letter-spacing: normal;
  word-spacing: normal;
  list-style: none; */
/* } */

/* NOTE: Translate (width, height) */
.social-media ul {
  position: relative;
  top: 0%;
  left: 0%;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0.5rem 0rem 0.3rem 0rem;
  transform: translate(0%, 0%);
  display: flex;
}

.social-media ul li {
  list-style: none;
  margin: 0rem 0.75rem 0rem 0.75rem;
}

.social-media ul li .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  line-height: 1.4rem;
  transition: 0.6s;
  color: #000000;
}

.social-media ul li .fa:hover {
  color: #ffffff;
}

.social-media ul li a {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.35);
  /* border: 1px solid black; */
}

/* NOTE: Translate (width, height) */
.social-media ul li a:hover {
  transform: translate(0, -0.4rem);
}

/* Implement on hover - FACEBOOK Color  */
.social-media ul li:nth-child(1) a:hover {
  background-color: var(--color-facebook2);
}

/* Implement on hover - INSTAGRAM  */
.social-media ul li:nth-child(2) a:hover {
  background-color: var(--color-instagram);
}

/* Implement on hover - TWITTER  */
.social-media ul li:nth-child(3) a:hover {
  background-color: var(--color-twitter);
}

/* Implement on hover - LINKEDIN  */
.social-media ul li:nth-child(4) a:hover {
  background-color: var(--color-linkedin);
}

/* Implement on hover - YOUTUBE  */
.social-media ul li:nth-child(5) a:hover {
  background-color: var(--color-youtube);
}

/* Implement on hover - WHATSAPP  */
.social-media ul li:nth-child(6) a:hover {
  background-color: var(--color-whatsapp);
}

/* Implement on hover - WISHLIST  */
.social-media ul li:nth-child(7) a:hover {
  background-color: var(--color-wishlist);
}

/* Implement on hover - SHOPPING CART  */
.social-media ul li:nth-child(8) a:hover {
  background-color: var(--color-shopping);
}

/* ===================================================================================================================== */
/* TODO:  PART 5 - RESPONSIVE VIEW (MEDIA QUERY)                                                                                                      */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 5)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

@media screen and (max-width: 768px) {
  .container_all {
    display: flex;
    flex-direction: column;
  }
}

/* ===================================================================================================================== */
/* TODO:  PART 6 - SOCIAL MEDIA ICONS                                                                                                     */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 6)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 7 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 7)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 8 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 8)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 9 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 9)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 10 -                                                                                                      */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 10)                                                                                       */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/*                                                                                            TODO:  STYLING ENDS  TODO: */
/* ===================================================================================================================== */
