/* ===================================================================================================================== */
/* TODO:  STYLING FOR ADVANCE DROP-DOWN MENU (SIDE WAYS)                                                                 */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES                                                                                         */
/* ===================================================================================================================== */
/* 01.  USER-SELECT controls whether the user can select TEXT (none / auto / text / contain / all)            */
/* 02.  OVERFLOW sets behavior when an element's content is too big to fit in its block (in both directions)          */
/*      Options Available: visible / hidden / clip / scroll / auto          */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

* {
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  box-sizing: border-box;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #18191a;
  overflow: hidden;
}

/* ===================================================================================================================== */
/* TODO:  PART 1 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 1)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

nav {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav .drop-btn {
  width: 40rem;
  background: #242526;
  color: #b0b3b8;
  line-height: 5rem;
  padding: 0rem 2rem 0rem 2rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
}

nav .drop-btn span {
  float: right;
  line-height: 5rem;
  font-size: 2.8rem;
  cursor: pointer;
}

nav .wrapper {
  position: absolute;
  top: 6.5rem;
  display: flex;
  /* width: 40rem; */
  /* width: 120rem; */
  width: 40rem;
  overflow: hidden;
  background: #242526;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  display: none;
}

/* ========================= */
/* LINK TO JAVASCRIPT SCRIPT */

nav .wrapper.show {
  display: block;
  display: flex;
}

/* ======================== */

nav .wrapper .settings-drop,
nav .wrapper .help-drop {
  display: none;
}

nav .wrapper ul {
  list-style: none;
  width: 40rem;
  padding: 1rem 1rem 1rem 1rem;
  transition: all 0.3s ease;
}

nav .wrapper ul li {
  line-height: 5.5rem;
}

nav .wrapper ul li a {
  position: relative;
  text-decoration: none;
  color: #b0b3b8;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0rem 1rem 0rem 1rem;
  align-items: center;
  border-radius: 0.8rem;
}

nav .wrapper ul li:hover a {
  background: #3a3b3c;
}

.wrapper ul li a .icon {
  height: 4rem;
  width: 4rem;
  margin: 0rem 1.3rem 0rem 0rem;
  background: #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}

.wrapper ul li a i {
  position: absolute;
  right: 1rem;
  font-size: 2.5rem;
  pointer-events: none;
}

/* FIRST LEVEL DROPDOWN-TO-RIGHT */

.wrapper ul .arrow {
  padding: 0rem 0rem 0rem 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: #b0b3b8;
  cursor: pointer;
}

.wrapper ul .arrow span {
  margin: 0rem 1.5rem 0rem 0rem;
}

/* ===================================================================================================================== */
/* TODO:  PART 2 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 2)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 3 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 3)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 4 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 4)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 5 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 5)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 6 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 6)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 7 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 7)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 8 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 8)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 9 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 9)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 10 -                                                                                                      */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 10)                                                                                       */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/*                                                                                            TODO:  STYLING ENDS  TODO: */
/* ===================================================================================================================== */
