/* ===================================================================================================================== */
/* TODO:  STYLING FOR PRICING CARD EXAMPLE 01                                                                            */
/* ===================================================================================================================== */

:root {
  --color-page-background: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

/* ===================================================================================================================== */
/* TODO:  SET THE RESPONSIVE DEFAULT SIZES FOR ALL HEADING ELEMENTS (H1 - H6)                                      TODO: */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  HEADING ELEMENTS : MOBILE / SMALLER SCREENS STYLING                                        FIXME: MOBILE FIRST */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* GENERAL NOTES (ALL HEADER ELEMENTS):                                                                                  */
/* 1.  Set the FONT-FAMILY to be used for the page (i.e. Google Fonts)                                                   */
/* 2.  Set all MARGINS - Top-Rigth-Bottom-Left                                                                           */
/* 3.  Set the FONT-WEIGHT : normal, bold, 100, 300, 500, 700 etc.                                                       */
/* ===================================================================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins";
  margin: 0rem 0rem 2rem 0rem;
  font-weight: 300;
}

/* ===================================================================================================================== */
/* GENERAL NOTES (INDIVIDUAL HEADER ELEMENTS):                                                                           */
/* 1.  Set the FONT-SIZE to be used as the standard for the page [1.6rem = 16px]                                         */
/* 2.  Set LINE-HEIGHT (spacing) : 1rem, 1.25rem, 1.4rem, 1.5rem etc                                                     */
/* 3.  Set LETTER-SPACING : normal, 0.1rem, 0.2rem, 0.3rem etc                                                           */
/* ===================================================================================================================== */

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: 0.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: 0.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* ===================================================================================================================== */
/* TODO:  HEADING ELEMENTS : WEBSITE / LARGER SCREENS STYLING                                      FIXME: LARGER SCREENS */
/* ===================================================================================================================== */

@media (min-width: 600px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

/* ===================================================================================================================== */
/* TODO:  PART 1 - PRICING CARD EXAMPLE 01 -                                                                             */
/* ===================================================================================================================== */

/* TODO:  THE CONTAINER HOLDING ALL PRODUCT CARD ELEMENTS  TODO: */

.container__all__product__card__elements {
  margin: auto;
  width: 600px;
  text-align: center;
  border: 1px solid red;
}

/* TODO:  THE CONTAINER HOLDING ALL PRODUCT CARDS  TODO: */

.container__all__product__cards {
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1px solid green;
}

.container__all__product__cards:focus {
  outline: 0;
}

/* TODO:  THE CONTAINER HOLDING A SINGLE PRODUCT CARD  TODO: */

.container__product__card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 14px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  border: 2px solid purple;
}

/* TODO:  CONTAINER HOLDING PRODUCT CARD IMAGE & IMAGE BACKGROUND  TODO: */

.container__product__card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.container__product__card__image__background {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg");
}

.container__product__card__image__background img {
  width: 400px;
  position: absolute;
  top: -65px;
  left: -70px;
}

/* TODO:  CONTAINER HOLDING PRODUCT CARD - MAIN TITLE  TODO: */

.container__product__card__main__title {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

/* TODO:  CONTAINER HOLDING PRODUCT CARD - SUB-TITLE  TODO: */

.container__product__card__sub__title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
  color: #ec9b3b;
}

/* TODO:  CONTAINER HOLDING PRODUCT CARD - DESCRIPTION  TODO: */

.container__product__card__description {
  padding: 20px;
  margin-bottom: 10px;
}

/* TODO:  CONTAINER HOLDING PRODUCT CARD - SPECIFICATIONS & STATS  TODO: */

.container__product__card__all__specifications {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.container__product__card__all__specifications .statistics {
  width: 33%;
  float: left;
  padding: 20px 15px;
}

.container__product__card__all__specifications sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}

.container__product__card__all__specifications .statistic__value {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}

.container__product__card__all__specifications .statistic__name {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.container__product__card__all__specifications .no-border {
  border-right: none;
}

.container__product__card__all__specifications__background {
  background: #ec9b3b;
}

.container__product__card__all__specifications__background .statistics {
  border-right: 1px solid #bd7c2f;
}

/* .clash-card__unit-stats {
    color: white;
    font-weight: 700;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  } */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* 
  .slick-prev {
    left: 100px;
    z-index: 999;
  }
  
  .slick-next {
    right: 100px;
    z-index: 999;
  } */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 1)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 2 - PRICING CARD EXAMPLE 01 -                                                                             */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 2)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 3 - PRICING CARD EXAMPLE 01 -                                                                             */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 3)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 4 - PRICING CARD EXAMPLE 01 -                                                                             */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 4)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 5 - PRICING CARD EXAMPLE 01 -                                                                             */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 5)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 6 - PRICING CARD EXAMPLE 01 -                                                                             */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 6)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 7 - PRICING CARD EXAMPLE 01 -                                                                             */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 7)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 8 - PRICING CARD EXAMPLE 01 -                                                                             */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 8)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 9 - PRICING CARD EXAMPLE 01 -                                                                             */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 9)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 10 - PRICING CARD EXAMPLE 01 -                                                                            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 10)                                                                                       */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ----------------------------------------------------------------------------------------- */
/* FIXME:  GOOGLE CHROME DEVICE - BREAKPOINTS                          TODO: VARIOUS DEVICES */
/* ----------------------------------------------------------------------------------------- */

/* TODO:  SAMSUNG GALAXY FOLD  TODO: */
@media screen and (min-width: 280px) and (min-height: 653px) {
}

/* TODO:  SAMSUNG GALAXY S8+  TODO: */
@media screen and (min-width: 360px) and (min-height: 740px) {
}

/* TODO:  APPLE IPHONE SE  TODO: */
@media screen and (min-width: 375px) and (min-height: 667px) {
}

/* TODO:  APPLE IPHONE 12 PRO  TODO: */
@media screen and (min-width: 390px) and (min-height: 844px) {
}

/* TODO:  PIXEL 5  TODO: */
@media screen and (min-width: 393px) and (min-height: 851px) {
}

/* TODO:  SAMSUNG GALAXY A51/A71  TODO: */
/* TODO:  SAMSUNG GALAXY S20 ULTRA  TODO: */
@media screen and (min-width: 412px) and (min-height: 914px) {
}

/* TODO:  APPLE IPHONE XR  TODO: */
@media screen and (min-width: 414px) and (min-height: 896px) {
}

/* TODO:  SURFACE DUO  TODO: */
@media screen and (min-width: 540px) and (min-height: 720px) {
}

/* TODO:  APPLE IPAD MINI  TODO: */
@media screen and (min-width: 768px) and (min-height: 1024px) {
}

/* TODO:  APPLE IPAD AIR  TODO: */
@media screen and (min-width: 820px) and (min-height: 1180px) {
}

/* TODO:  SURFACE PRO 7  TODO: */
@media screen and (min-width: 912px) and (min-height: 1368px) {
}

/* TODO:  NEST HUB  TODO: */
@media screen and (min-width: 1024px) and (min-height: 600) {
}

/* TODO:  NEST HUB MAX  TODO: */
@media screen and (min-width: 1280px) and (min-height: 800px) {
}

/* ===================================================================================================================== */
/*                                                                                            TODO:  STYLING ENDS  TODO: */
/* ===================================================================================================================== */
