/* ===================================================================================================================== */
/* TODO:  STYLING FOR PRICING CARD EXAMPLE 01                                                                            */
/* ===================================================================================================================== */

:root {
  --color-page-background: white;
  /* PRODUCT CARDS */
  --color-product-card-background: white;
  --color-product-card-image-background: white;
  --color-product-card-main-title: #e2218e;
  --color-product-card-sub-title: black;
  --color-product-card-description: black;
  --color-product-card-specifications-background: #e2218e;
  --color-product-card-specifications-statistics: white;
  --color-product-card-specifications-statistics-seperation-line: white;
  /* SKYNAMO */
  --color-Skynamo-button-background: #e2218e;
  --color-Skynamo-button-background-rgb: rgb(226, 33, 142);
}

* {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

/* ===================================================================================================================== */
/* TODO:  SET THE RESPONSIVE DEFAULT SIZES FOR ALL HEADING ELEMENTS (H1 - H6)                                      TODO: */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  HEADING ELEMENTS : MOBILE / SMALLER SCREENS STYLING                                        FIXME: MOBILE FIRST */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* GENERAL NOTES (ALL HEADER ELEMENTS):                                                                                  */
/* 1.  Set the FONT-FAMILY to be used for the page (i.e. Google Fonts)                                                   */
/* 2.  Set all MARGINS - Top-Rigth-Bottom-Left                                                                           */
/* 3.  Set the FONT-WEIGHT : normal, bold, 100, 300, 500, 700 etc.                                                       */
/* ===================================================================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins";
  margin: 0rem 0rem 2rem 0rem;
  font-weight: 300;
}

/* ===================================================================================================================== */
/* GENERAL NOTES (INDIVIDUAL HEADER ELEMENTS):                                                                           */
/* 1.  Set the FONT-SIZE to be used as the standard for the page [1.6rem = 16px]                                         */
/* 2.  Set LINE-HEIGHT (spacing) : 1rem, 1.25rem, 1.4rem, 1.5rem etc                                                     */
/* 3.  Set LETTER-SPACING : normal, 0.1rem, 0.2rem, 0.3rem etc                                                           */
/* ===================================================================================================================== */

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: 0.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: 0.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* ===================================================================================================================== */
/* TODO:  HEADING ELEMENTS : WEBSITE / LARGER SCREENS STYLING                                      FIXME: LARGER SCREENS */
/* ===================================================================================================================== */

@media (min-width: 600px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

/* ===================================================================================================================== */
/* TODO:  PART 1 - PRODUCT CARDS                                                                                         */
/* ===================================================================================================================== */

/* ------------------------------------------------------ */
/* TODO:  LARGER SCREENS (LAPTOPS / PC's / TABLETS  TODO: */
/* ------------------------------------------------------ */
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* --------------------------------------------------------------- */
/* FIXME:  THE CONTAINER HOLDING ALL PRODUCT CARD ELEMENTS  FIXME: */
/* --------------------------------------------------------------- */

.container__all__product__card__elements {
  margin: auto;
  width: 32.5rem;
  text-align: center;
  /* border: 1px solid red; */
}

/* ------------------------------------------------------- */
/* FIXME:  THE CONTAINER HOLDING ALL PRODUCT CARDS  FIXME: */
/* ------------------------------------------------------- */

.container__all__product__cards {
  padding: 2rem 0rem 2rem 0rem;
  /* border: 1px solid green; */
}

.container__all__product__cards:focus {
  outline: 0;
}

/* ----------------------------------------------------------- */
/* FIXME:  THE CONTAINER HOLDING A SINGLE PRODUCT CARD  FIXME: */
/* ----------------------------------------------------------- */

.container__product__card {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 30rem;
  margin: auto;
  background: var(--color-product-card-background);
  border-radius: 1.4rem;
  /* box-shadow: -1px 15px 30px -12px black; */
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35);
  z-index: 9999;
  /* border: 2px solid #e2218e; */
}

/* ----------------------------------------------------------------------- */
/* FIXME:  CONTAINER HOLDING PRODUCT CARD IMAGE & IMAGE BACKGROUND  FIXME: */
/* ----------------------------------------------------------------------- */

.container__product__card__image {
  position: relative;
  height: 25rem;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  /* box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35); */
  /* border: 1px solid blue; */
}

.container__product__card__image__background {
  background: var(--color-product-card-image-background);
}

.container__product__card__image__background img {
  position: absolute;
  width: 22.5rem;
  /* top: -65px;
  left: -70px; */
  top: 12.5rem;
  left: auto;
  transform: translate(-50%, -50%);
}

/* ----------------------------------------------------------- */
/* FIXME:  CONTAINER HOLDING PRODUCT CARD - MAIN TITLE  FIXME: */
/* ----------------------------------------------------------- */

.container__product__card__main__title {
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0rem 1.5rem 0rem 1.5rem;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  color: var(--color-product-card-main-title);
  /* border: 1px solid blue; */
}

/* ---------------------------------------------------------- */
/* FIXME:  CONTAINER HOLDING PRODUCT CARD - SUB-TITLE  FIXME: */
/* ---------------------------------------------------------- */

.container__product__card__sub__title {
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0rem 1.5rem 1.5rem 1.5rem;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  color: var(--color-product-card-sub-title);
  /* border: 1px solid blue; */
}

/* ------------------------------------------------------------ */
/* FIXME:  CONTAINER HOLDING PRODUCT CARD - DESCRIPTION  FIXME: */
/* ------------------------------------------------------------ */

.container__product__card__description {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: none;
  text-align: justify;
  height: 10rem;
  margin: 0.5rem 1.5rem 1.5rem 1.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: var(--color-product-card-description);
  /* border: 1px solid blue; */
}

/* ----------------------------------------------------------------------- */
/* FIXME:  CONTAINER HOLDING PRODUCT CARD - SPECIFICATIONS & STATS  FIXME: */
/* ----------------------------------------------------------------------- */

.container__product__card__all__specifications {
  color: var(--color-product-card-specifications-statistics);
  font-weight: 700;
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  background: var(--color-product-card-specifications-background);
}

.container__product__card__all__specifications .statistics {
  width: 33%;
  float: left;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.container__product__card__all__specifications sup {
  position: absolute;
  bottom: 0.8rem;
  font-size: 60%;
  margin-left: 0.5rem;
}

.container__product__card__all__specifications .statistic__value {
  position: relative;
  font-size: 2rem;
  margin: 0rem 0rem 1rem 0rem;
}

.container__product__card__all__specifications .statistic__name {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.container__product__card__all__specifications .no-border {
  border-left: 1px solid
    var(--color-product-card-specifications-statistics-seperation-line);
  border-right: 1px solid
    var(--color-product-card-specifications-statistics-seperation-line);
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* --------------------------------------------------------------- */
/* TODO:  RESPONSIVE MEDIA QUERY - SMALLER SCREENS (PHONES)  TODO: */
/* --------------------------------------------------------------- */

@media screen and (max-width: 350px) {
  .container__all__product__card__elements {
    width: 26rem;
    /* border: 1px solid red; */
  }

  .container__product__card {
    width: 24rem;
    /* border: 2px solid #e2218e; */
  }

  .container__product__card__image {
    height: 20rem;
    /* border: 1px solid blue; */
  }

  .container__product__card__image__background img {
    width: 17.5rem;
    /* top: -65px;
    left: -70px; */
    top: 10rem;
    left: auto;
    transform: translate(-50%, -50%);
  }

  .container__product__card__main__title {
    font-size: 1.4rem;
  }

  .container__product__card__sub__title {
    font-size: 1.15rem;
  }

  .container__product__card__description {
    font-size: 1rem;
  }

  .container__product__card__all__specifications .statistic__value {
    font-size: 1.75rem;
  }

  .container__product__card__all__specifications .statistic__name {
    font-size: 1.1rem;
  }
}

/* ----------------------------------------------------------------------------------------- */
/* FIXME:  GOOGLE CHROME DEVICE - BREAKPOINTS                          TODO: VARIOUS DEVICES */
/* ----------------------------------------------------------------------------------------- */

/* TODO:  SAMSUNG GALAXY FOLD  TODO: */
@media screen and (min-width: 280px) and (min-height: 653px) {
}

/* TODO:  SAMSUNG GALAXY S8+  TODO: */
@media screen and (min-width: 360px) and (min-height: 740px) {
}

/* TODO:  APPLE IPHONE SE  TODO: */
@media screen and (min-width: 375px) and (min-height: 667px) {
}

/* TODO:  APPLE IPHONE 12 PRO  TODO: */
@media screen and (min-width: 390px) and (min-height: 844px) {
}

/* TODO:  PIXEL 5  TODO: */
@media screen and (min-width: 393px) and (min-height: 851px) {
}

/* TODO:  SAMSUNG GALAXY A51/A71  TODO: */
/* TODO:  SAMSUNG GALAXY S20 ULTRA  TODO: */
@media screen and (min-width: 412px) and (min-height: 914px) {
}

/* TODO:  APPLE IPHONE XR  TODO: */
@media screen and (min-width: 414px) and (min-height: 896px) {
}

/* TODO:  SURFACE DUO  TODO: */
@media screen and (min-width: 540px) and (min-height: 720px) {
}

/* TODO:  APPLE IPAD MINI  TODO: */
@media screen and (min-width: 768px) and (min-height: 1024px) {
}

/* TODO:  APPLE IPAD AIR  TODO: */
@media screen and (min-width: 820px) and (min-height: 1180px) {
}

/* TODO:  SURFACE PRO 7  TODO: */
@media screen and (min-width: 912px) and (min-height: 1368px) {
}

/* TODO:  NEST HUB  TODO: */
@media screen and (min-width: 1024px) and (min-height: 600) {
}

/* TODO:  NEST HUB MAX  TODO: */
@media screen and (min-width: 1280px) and (min-height: 800px) {
}

/* ===================================================================================================================== */
/*                                                                                            TODO:  STYLING ENDS  TODO: */
/* ===================================================================================================================== */
