<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TODO: SEARCH ENGINE OPTIMIZATION (SEO) TECHNIQUES - WITH OPEN GRAPH PROTOCOL -->
    <!-- https://ogp.me/ -->
    <meta
      property="og:title"
      content="The title of your object as it should appear within the graph"
    />
    <meta
      property="og:description"
      content="A one to two sentence description of your object"
    />
    <meta
      property="og:type"
      content="The type of your object .... e.g. website"
    />
    <meta
      property="og:image"
      content="An image URL which should represent your object within the graph"
    />
    <meta property="og:url" content="The URL of your website" />
    <meta
      property="og:locale"
      content="Format: language_TERRITORY. Default is en_US / for SA - af_ZA."
    />
    <meta
      property="og:audio"
      content="A URL to an audio file to accompany this object"
    />
    <meta
      property="og:video"
      content="A URL to a video file that complements this object"
    />
    <!-- TODO: SEARCH ENGINE OPTIMIZATION (SEO) TECHNIQUES - STANDARD -->
    <meta
      name="description"
      content="Give Short Description of your page - comes up in Google Search Results"
    />
    <meta
      name="keywords"
      content="Keywords for search engines to find you, e.g. Clothing, Laptops etc."
    />
    <!-- TODO: PAGE TITLE & ICON FOR THE TAB -->
    <title>Document</title>
    <link rel="shortcut icon" href="images/KM_Logo.ico" />
    <!-- LINKS TO GET THE GOOGLE WEB FONTS THAT YOU WILL BE USE ON YOUR SITE - https://fonts.google.com/ -->
    <!-- TODO: Fonts used: Name the fonts here for easy reference, e.g. Alice (Regular), Open Sans (Reg & Bold) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- TODO: LINKS TO NORMAL INTERNAL STYLE SHEETS -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <!-- TODO: LINK TO THE ANIMATE ON SCROLL LIBRARY (A0S) - https://michalsnik.github.io/aos/ -->
    <!-- There is also a Script that needs to be added before the closing BODY Tag -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <!-- TODO: ANIMATE ON SCROLL (AOS) SCRIPT -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
