<!-- TODO: FOOTER -->
<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <!-- Section 1 -->
    <section class="collapsible collapsible--expanded footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">MEER OOR ONS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Ons Storie</a></li>
          <li><a href="#">Ons Terme</a></li>
          <li><a href="#">Bankrekening</a></li>
          <li><a href="#">Herverkopers</a></li>
          <li><a href="#">Jou Terugvoer</a></li>
        </ul>
      </div>
    </section>
    <!-- Section 2 -->
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">DAMES STYLE</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Blou Verf</a></li>
          <li><a href="#">Prag Pienk</a></li>
          <li><a href="#">Blare</a></li>
          <li><a href="#">Kompas</a></li>
          <li><a href="#">Rebel</a></li>
          <li><a href="#">Khaki Rokkie</a></li>
        </ul>
      </div>
    </section>
    <!-- Section 3 -->
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">KINDER STYLE</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Vrolike Blom</a></li>
          <li><a href="#">Klein Prag Pienk</a></li>
          <li><a href="#">Naaldekoker</a></li>
          <li><a href="#">Kuns</a></li>
        </ul>
      </div>
    </section>
    <div class="footer_marketing">
      <div class="footer__brand">
        <img src="images/KM_logo_text.png" alt="" />
      </div>
      <div class="footer__socialmedia">
        <p class="socialmedia__title">SOSIALE MEDIA</p>
        <a href="https://www.facebook.com/jouwarenoord" target="_blank"
          ><img
            class="facebook"
            src="images/black2_facebook.png"
            alt="Facebook"
        /></a>
        <a href="https://www.instagram.com/kettiemeisie/" target="_blank"
          ><img
            class="instagram"
            src="images/black2_instagram.png"
            alt="Instagram"
        /></a>
        <a href="https://twitter.com/KettieLtd" target="_blank"
          ><img class="twitter" src="images/black2_twitter.png" alt="Twitter"
        /></a>
        <a
          href="https://www.youtube.com/channel/UC2EDBZN2j_p5tp7HquAfvPQ"
          target="_blank"
          ><img class="youtube" src="images/black2_youtube.png" alt="YouTube"
        /></a>
      </div>
    </div>
    <div class="footer__contactus">
      <div class="footer__email">
        <p class="contact__title">STUUR E-POS</p>
        <a class="contact__email" href="mailto:sales@kettiemeisie.com"
          >sales@kettiemeisie.com</a
        >
      </div>
      <div class="footer__mobile">
        <p class="contact__title">KONTAK ONS</p>
        <div>
          <a
            class="contact__mobile"
            href="https://wa.me/27673716894"
            target="_blank"
            >067 371 6894</a
          >
        </div>
        <div>
          <a
            class="contact__mobile"
            href="https://wa.me/27606209866"
            target="_blank"
            >060 620 9866</a
          >
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="footer__copyright">© 2021 Kettie Meisie (Pty) Ltd</p>
  </div>
</footer>
