<!-- _________________________________________________________________________________ -->
<!-- TODO: HTML SECTION - STRUCTURE -->
<!-- _________________________________________________________________________________ -->

<!-- FIXME: SECTION 2 - HERO BANNER (TOP) -->
<div id="section-hero" class="hero__banner">
  <img class="hero__image" src="images/KM_banner_hero.webp" alt="" />
  <img class="hero__logo" src="images/KM_logo_text_white.png" alt="" />
  <!-- <p class="hero__heading">'n stylvolle en elegante dames klerereeks,</p> -->
  <!-- <p class="hero__tagline">geïnspireer deur die keuses van die hart</p> -->
</div>

<!-- _________________________________________________________________________________ -->
<!-- TODO: CSS SECTION - STYLES (PASTE BELOW IN CSS FILE) -->
<!-- _________________________________________________________________________________ -->

<style>
  /* ________________________________________________________________________________________________________________________ */

  /* FIXME: SECTION 2 - HERO BANNER (TOP) */

  /* ________________________________________________________________________________________________________________________ */

  /* TODO: MOBILE (FIRST) : Screen sizes between 320px - 768px */

  .hero__banner {
    position: relative;
    top: 0;
    left: 0;
  }

  .hero__image {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    /* border: 1px solid red; */
  }

  .hero__logo {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid green; */
  }

  .hero__heading {
    position: absolute;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    color: var(--color-hero__banner-heading);
    top: 0;
    left: 80px;
    right: 80px;
    /* border: 1px solid yellow; */
  }

  .hero__tagline {
    position: absolute;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    color: var(--color-hero__banner-tagline);
    top: 15px;
    left: 80px;
    right: 80px;
    /* border: 1px solid purple; */
  }

  /* TODO: MEDIA QUERY (HERO - BANNER) - TABLET / LAPTOP / PC - Screen sizes larger than 768px */

  @media screen and (min-width: 768px) {
    .hero__heading {
      font-size: 2rem;
      top: 10px;
    }

    .hero__tagline {
      font-size: 2rem;
      top: 35px;
    }
  }
</style>
