<!-- TODO: TOP NAVIGATION SECTION -->
<header>
  <nav class="nav collapsible">
    <a class="nav__brand" href="#"
      ><img class="km__logo" src="images/KM_Logo.png" alt=""
    /></a>
    <svg class="icon icon--white collapsible__chevron">
      <use href="images/sprite.svg#chevron"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">Ons storie</a></li>
      <li class="nav__item"><a href="#">Dames style</a></li>
      <li class="nav__item"><a href="#">Kinder style</a></li>
      <li class="nav__item"><a href="#">Herverkopers</a></li>
      <li class="nav__item"><a href="#">Jou terugvoer</a></li>
      <li class="nav__item"><a href="#">Kontak ons</a></li>
    </ul>
  </nav>
</header>

<!-- JAVASCRIPT CODE USED -->
<script src="js/main.js"></script>
