<!-- TODO: CLOTHING BLOCK - DAMES STYLE -->
<!-- TODO: CATEGORY (HEADING) - DAMES STYLE -->
<div class="dames__style-background">
  <section class="block__products container__products">
    <div class="dames__style">
      <picture>
        <img class="dames__style-image" src="images/KM_backstrip.webp" alt="" />
      </picture>
      <header class="block__products__header dames__style-text">
        <h2 class="block__products__heading">dames style</h2>
        <p class="block__products__tagline">(kies jou perfekte styl)</p>
      </header>
    </div>
  </section>
</div>
<!-- TODO: PRODUCT 1 (PRODUCT IMAGE & SPECS) - BLOU VERF  -->
<section class="background__product-01">
  <article class="grid__products grid--1x2__products spacing__product-01">
    <picture>
      <img
        class="image__product-01"
        src="images/KM_product_01_shirt.webp"
        alt=""
      />
    </picture>
    <div class="product-01__content">
      <h2 class="product-01__name">blou verf</h2>
      <h5 class="product-01__specifications">spesifikasies</h5>
      <ul class="product-01__specifications-list">
        <li>Premium 100% Katoen T-hemp (160 m/g2)</li>
        <li>Dubbel gestikte moue en onderste soom</li>
        <li>Direk na kledingstukdruk (DTG)</li>
        <li>Gewig 0.24kg</li>
      </ul>
      <h5 class="product-01__sizes">beskikbare groottes</h5>
      <p class="product-01__sizes-list">Klein, Medium, Groot</p>
      <p class="product-01__sizes-list">X-Groot, 2X-Groot, 3X-Groot</p>
      <!-- <h5 class="product-01__colours">beskikbare kleure</h5> -->
      <!-- <p class="product-01__colours-list">Teal</p> -->
      <!-- <p class="product-01__colours-list">Ander Kleure</p> -->
      <!-- <h5 class="product-01__category">produk kategorie</h5>
            <p class="product-01__category-name">T-hemp</p>
            <h5 class="product-01__product__number">produk nommer</h5>
            <p class="product-01__sku">THKMVBF</p>
            <h5 class="product-01__range">reeks</h5>
            <p class="product-01__range-name">Lente Versameling</p> -->
      <!-- <h5 class="product-01__price-heading">prys</h5> -->
      <p class="product-01__price">R290</p>
      <!-- TODO: NAVIGATION (CART) - Link to Order Form -->
      <div class="navigation__background__product-01">
        <section
          class="
            block__products
            container__products
            link__background__product-01
          "
        >
          <div class="block__products__header">
            <div class="navigation__products__checkout">
              <div>
                <img
                  class="navigation__products__checkout-image"
                  src="images/KM_mandjie.webp"
                  alt=""
                />
              </div>
              <div>
                <a href="#" class="navigation__products__checkout-link"
                  >sit in jou mandjie en bestel</a
                >
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </article>
</section>
