/* ===================================================================================================================== */
/* TODO:  STYLING FOR 2ND COMPONENT :  SHOPMAX - LOGO, SEARCH BAR AND SOCIAL MEDIA LINKS                                 */
/* ===================================================================================================================== */

:root {
  /* BOX SHADOWS */
  --color-box-shadow-01: 3px 5px 20px rgba(0, 0, 0, 0.35);
  --color-box-shadow-02: 0px 5px 4px rgba(0, 0, 0, 0.35);
  --color-box-shadow-03: 0px 1px 5px 3px rgba(0, 0, 0, 0.15);
  --color-box-shadow-04: 0px 5px 20px rgba(0, 0, 0, 0.35);
  /* SEARCH BAR COLOR SCHEME */
  --color-page-background: white;
  --color-search-input-background: white;
  --color-search-icon: #dc143c;
  --color-list-items-background: #eee;
  --color-list-items-background-hover: #dc143c;
  --color-list-items-background-hover-text: white;
  /* SOCIAL MEDIA COLOR SCHEME */
  --color-facebook1: #1877f2;
  --color-facebook2: #3b5998;
  --color-instagram: #c32aa3;
  --color-twitter: #1da1f2;
  --color-linkedin: #0a66c2;
  --color-youtube: #ff0000;
  --color-whatsapp: #25d366;
  --color-wishlist: #555555;
  --color-shopping: #555555;
  /* BOX-ICONS */
  --color-box-icons-normal: black;
  --color-box-icons-hover: white;
  --color-box-icons-anchor: white;
  /* USER ACCOUNT ICON */
  --color-user-account: black;
  --color-user-account-hover: #dc143c;
  /* COLOR SCHEME FOR ADD TO CART BUTTONS, CARTS AND COUNTERS */
  --color-add-to-cart-button-background: #dc143c;
  --color-add-to-cart-button-text: white;
  --color-shopping-cart-icon: black;
  --color-shopping-cart-icon-hover: #dc143c;
  --color-shopping-cart-counter-background: #dc143c;
  --color-shopping-cart-counter-text: white;
  /* COLOR SCHEME FOR ADD TO WISH LIST BUTTONS, CARTS AND COUNTERS */
  --color-add-to-wish-list-button-background: #dc143c;
  --color-add-to-wish-list-button-text: white;
  --color-wish-list-icon: black;
  --color-wish-list-icon-hover: #dc143c;
  --color-wish-list-counter-background: #dc143c;
  --color-wish-list-counter-text: white;
  /* SHOPPING ICONS GROUP */
  --color-shopping-group-icons-background-01: #efefef;
  --color-shopping-group-icons-background-02: #ebf4f4;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background: var(--color-page-background);
  padding: 0rem 2rem 0rem 2rem;
}

::selection {
  background: var(--color-page-background);
  color: var(--color-search-input-background);
}

/* ====================================================================================================================================================== */
/* ====================================================================================================================================================== */
/* TODO:TODO:TODO:  SECTION - TOP BAR :  SHOPMAX LOGO, SEARCH BAR, SOCIAL MEDIA ICONS, WHATSAPP, USER ACCOUNT, WISH LIST, SHOPPING CART  TODO:TODO:TODO:  */
/* ====================================================================================================================================================== */
/* ====================================================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 1 - CONTAINER (ALL) - HOLDING ALL ELEMENTS TOGETHER (LOGO, SEARCH BAR and SOCIAL MEDIA LINKS)             */
/* ===================================================================================================================== */

.top_bar_container_all {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 12fr 5fr;
  max-width: 100%;
  height: 4rem;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  /* border: 1px solid orange; */
}

/* ===================================================================================================================== */
/* TODO:  PART 2 - CONTAINER (LOGO) - SHOPMAX LOGO                                                                       */
/* ===================================================================================================================== */

/* ========================================================= */
/* FIXME:  SHOPMAX LOGO SCALING (100%) = FACTOR 4.91         */
/* ========================================================= */
/* WIDTH = 50rem (500px) ==>  HEIGTH = 10.185rem (101.85px)  */
/* WIDTH = 45rem (450px) ==>  HEIGTH =  9.167rem  (91.67px)  */
/* WIDTH = 40rem (400px) ==>  HEIGTH =  8.148rem  (81.48px)  */
/* WIDTH = 35rem (350px) ==>  HEIGTH =  7.130rem  (71.30px)  */
/* WIDTH = 30rem (300px) ==>  HEIGTH =  6.111rem  (61.11px)  */
/* WIDTH = 25rem (250px) ==>  HEIGTH =  5.093rem  (50.93px)  */
/* WIDTH = 20rem (200px) ==>  HEIGTH =  4.074rem  (40.74px)  */
/* WIDTH = 15rem (150px) ==>  HEIGTH =  3.056rem  (30.56px)  */
/* WIDTH = 10rem (100px) ==>  HEIGTH =  2.037rem  (20.37px)  */
/* ========================================================= */

.top_bar_container_image {
  position: relative;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  /* border: 1px solid red; */
}

.top_bar_container_image .top_bar_shopmax_logo {
  display: block;
  /* width: 100%; */
  /* margin: auto; */
  width: 100%;
  height: 4rem;
  object-fit: contain;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  /* border: 1px solid purple; */
}

/* ===================================================================================================================== */
/* TODO:  PART 3 - CONTAINER (SEARCH) - NEW SEARCH BAR                                                                   */
/* ===================================================================================================================== */

/* --------------------------------------------------- */
/* FIXME:  MAIN CONTAINER - HOLDING EVERYTHING  FIXME: */
/* --------------------------------------------------- */

.top_bar_search-bar-container {
  /* max-width: 45rem; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 100%;
  height: 4rem;
  border-radius: 0;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 2rem 0rem 2rem;
  /* border: 1px solid blue; */
}

/* ------------------------------------------------------------------------------------------ */
/* FIXME:  SUB-CONTAINER - HOLDING ELEMENTS - SEARCH-INPUT, SEARCH-ITEMS, SEARCH-ICON  FIXME: */
/* ------------------------------------------------------------------------------------------ */

.top_bar_search-bar-container .top_bar_search-input {
  position: relative;
  background: var(--color-search-input-background);
  width: 100%;
  height: 4rem;
  border-radius: 2.5rem 0rem 0rem 2.5rem;
  box-shadow: var(--color-box-shadow-04);
  padding: 0rem 0rem 0rem 0rem;
  /* border: 1px solid green; */
}

/* ------------------------------------- */
/* FIXME:  ELEMENT: SEARCH-INPUT  FIXME: */
/* ------------------------------------- */

.top_bar_search-input input {
  /* text-align: center; */
  border: none;
  outline: none;
  width: 100%;
  height: 4rem;
  border-radius: 2.5rem;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 5rem 0rem 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  /* box-shadow: var(--color-box-shadow-03); */
  /* border: 1px solid goldenrod; */
}

.top_bar_search-input input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

/* ------------------------------------ */
/* FIXME:  ELEMENT: SEARCH-ICON  FIXME: */
/* ------------------------------------ */

.top_bar_search-input .top_bar_searchbar-icon {
  position: absolute;
  top: 0rem;
  right: 0.5rem;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 1.52rem;
  color: var(--color-search-icon);
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.top_bar_search-input .top_bar_searchbar-icon:hover {
  transform: scale(1.1);
}

/* -------------------------------------------------- */
/* FIXME:  SUB-CONTAINER - AUTO-COMPLETED BOX  FIXME: */
/* -------------------------------------------------- */

.top_bar_search-input .top_bar_search-autocomplete-box {
  max-height: 28rem;
  padding: 0rem 0rem 0rem 0rem;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  border-radius: 0rem 0rem 1rem 1rem;
  background: var(--color-list-items-background);
  /* z-index: 1; */
}

/* =================================================== */
/* TODO:FIXME:  JAVASCRIPT: ACTIVE CLASS  TODO:FIXME:  */
/*       WHEN ACTIVE DISPLAY AUTO-COMPLETE BOX         */
/* =================================================== */

.top_bar_search-input.active .top_bar_search-autocomplete-box {
  padding: 1rem 0.8rem 1rem 0.8rem;
  opacity: 1;
  pointer-events: auto;
}

.top_bar_search-input.active .top_bar_search-autocomplete-box li {
  display: block;
}

.top_bar_search-input.active input {
  border-radius: 0.5rem 0.5rem 0 0;
}

/* ================================================== */

/* ----------------------------------- */
/* FIXME:  SEARCH - LIST-ITEMS  FIXME: */
/* ----------------------------------- */

.top_bar_search-autocomplete-box li {
  width: 100%;
  list-style: none;
  border-radius: 0.3rem;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  cursor: default;
  display: none;
}

.top_bar_search-autocomplete-box li:hover {
  background: var(--color-list-items-background-hover);
  color: var(--color-list-items-background-hover-text);
}

/* ===================================================================================================================== */
/* TODO:  PART 4 - CONTAINER (SOCIAL) - SOCIAL MEDIA LINKS                                                               */
/* ===================================================================================================================== */

/* ==================================== */
/* COLOURS USED FOR SOCIAL MEDIA LINKS  */
/* ==================================== */

/* MAIN CONTAINER - HOLDING ALL SOCIAL MEDIA COMPONENTS TOGETHER  */
.top_bar_container_social {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0.5rem 0rem;
  width: 100%;
  height: 4rem;
  /* border: 1px solid green; */
}

/* NOTE: Translate (width, height) */
.top_bar_social-media ul {
  position: relative;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
}

.top_bar_social-media ul li {
  list-style: none;
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.top_bar_social-media ul li .bx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.65rem;
  line-height: 1.4rem;
  transition: 0.6s;
  color: var(--color-box-icons-normal);
}

.top_bar_social-media ul li .bx:hover {
  color: var(--color-box-icons-hover);
}

.top_bar_social-media ul li a {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--color-box-icons-anchor);
  text-align: center;
  transition: 0.6s;
  box-shadow: var(--color-box-shadow-02);
  /* border: 1px solid black; */
}

/* NOTE: Translate (width, height) */
.top_bar_social-media ul li a:hover {
  transform: translate(0, -0.4rem);
}

/* Implement on hover - FACEBOOK Color  */
.top_bar_social-media ul li:nth-child(1) a:hover {
  background-color: var(--color-facebook2);
}

/* Implement on hover - INSTAGRAM  */
.top_bar_social-media ul li:nth-child(2) a:hover {
  background-color: var(--color-instagram);
}

/* Implement on hover - TWITTER  */
.top_bar_social-media ul li:nth-child(3) a:hover {
  background-color: var(--color-twitter);
}

/* Implement on hover - LINKEDIN  */
.top_bar_social-media ul li:nth-child(4) a:hover {
  background-color: var(--color-linkedin);
}

/* Implement on hover - YOUTUBE  */
.top_bar_social-media ul li:nth-child(5) a:hover {
  background-color: var(--color-youtube);
}

/* Implement on hover - WHATSAPP  */
.top_bar_social-media ul li:nth-child(6) a:hover {
  background-color: var(--color-whatsapp);
}

/* Implement on hover - WISHLIST  */
.top_bar_social-media ul li:nth-child(7) a:hover {
  background-color: var(--color-wishlist);
}

/* Implement on hover - SHOPPING CART  */
.top_bar_social-media ul li:nth-child(8) a:hover {
  background-color: var(--color-shopping);
}

/* Implement on hover - USER ACCOUNT  */
.top_bar_social-media ul li:nth-child(9) a:hover {
  background-color: var(--color-shopping);
}

/* ===================================================================================================================== */
/* TODO:  PART 5 - BUTTONS FOR USER ACCOUNT AND TO TEST "ADD TO WISH LIST" AND "ADD TO CART"                             */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/*                                FIXME:  MAIN CONTAINER HOLDING USER, HEART & CART  FIXME:                              */
/* ===================================================================================================================== */

.top_bar_shopping_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  border-radius: 0rem 2.5rem 2.5rem 0rem;
  box-shadow: var(--color-box-shadow-01);
  background-color: var(--color-shopping-group-icons-background-02);
  /* border: 1px solid #dc143c; */
}

/* ===================================================================================================================== */
/*                                                TODO:  USER ACCOUNT  TODO:                                             */
/* ===================================================================================================================== */

/* ------------------------------------------ */
/* FIXME:  MAIN CONTAINER - USER ICON  FIXME: */
/* ------------------------------------------ */

.top_bar_user_account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin: 0rem 0rem 0rem 0rem;
  border-radius: 0rem 0rem 0rem 0rem;
  /* border: 1px solid orange; */
}

/* ------------------------------ */
/* FIXME:  ANCHOR ELEMENT  FIXME: */
/* ------------------------------ */

.top_bar_user_account a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-user-account);
}

/* ------------------------- */
/* FIXME:  USER ICON  FIXME: */
/* ------------------------- */

.top_bar_user_account i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  font-weight: 600;
  width: 4rem;
  height: 4rem;
  color: var(--color-user-account);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  /* border: 1px solid yellow; */
}

/* --------------------------------- */
/* FIXME:  USER ICON - HOVER  FIXME: */
/* --------------------------------- */

.top_bar_user_account i:hover {
  color: var(--color-user-account-hover);
  transform: scale(1.1);
}

/* ===================================================================================================================== */
/*                                                TODO:  WISH LIST  TODO:                                                */
/* ===================================================================================================================== */

/* --------------------------------------------------------------- */
/* FIXME:  MAIN CONTAINER - HOLDING COUNTER AND HEART ICON  FIXME: */
/* --------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------ */
/* CONTAINER HOLD WISH LIST BUTTON with "wishlist-add-animation" ID for Javascript Code */
/* ------------------------------------------------------------------------------------ */

.wishlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

/* ----------------------------------------------------------------------------------- */
/* CONTAINER HOLD THE WISHLIST COUNTER with "wishlist-counter" ID for Javascript Code  */
/* ----------------------------------------------------------------------------------- */

.wishlist-counter-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0rem 2.5rem 2.5rem 0rem;
  margin: 0rem 0rem 0rem 0rem;
  /* border: 1px solid orange; */
}

/* ------------------------------ */
/* FIXME:  ANCHOR ELEMENT  FIXME: */
/* ------------------------------ */

.wishlist-counter-container a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-wish-list-icon);
}

/* -------------------------- */
/* FIXME:  HEART ICON  FIXME: */
/* -------------------------- */

.wishlist-counter-container i {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.35rem;
  font-weight: 500;
  width: 4rem;
  height: 4rem;
  color: var(--color-wish-list-icon);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  /* border: 1px solid green; */
}

/* ---------------------------------- */
/* FIXME:  HEART ICON - HOVER  FIXME: */
/* ---------------------------------- */

.wishlist-counter-container i:hover {
  color: var(--color-wish-list-icon-hover);
  transform: scale(1.1);
}

/* ---------------------------------------- */
/* FIXME:  WISH LIST SPAN - COUNTER  FIXME: */
/* ---------------------------------------- */

.wishlist-counter-container span {
  position: absolute;
  user-select: none;
  top: 0.3rem;
  right: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--color-wish-list-counter-background);
  color: var(--color-wish-list-counter-text);
  z-index: 1;
}

/* ----------------------------------------- */
/* FIXME:  BUTTON - ADD TO WISH LIST  FIXME: */
/* ----------------------------------------- */

.wishlist-container button {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-add-to-wish-list-button-background);
  color: var(--color-add-to-wish-list-button-text);
  outline: none;
  border: none;
  transition: transform 0.3s ease-in-out;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35);
  /* border: 1px solid red; */
}

.wishlist-container button:hover {
  opacity: 0.9;
  transform: scale(1.02);
  cursor: pointer;
}

/* ----------------------------------- */
/* FIXME:  COUNTER - ANIMATION  FIXME: */
/* ----------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */
/* TODO:FIXME:  JAVASCRIPT - WISH LIST COUNTER ANIMATION ON "ADD TO WISH LIST" BUTTON CLICK  TODO:FIXME: */
/* ----------------------------------------------------------------------------------------------------- */

.wishlist-counter-container span:not(.wishlist-animated-counter) {
  display: flex;
}

.wishlist-counter-container span .wishlist-animated-counter {
  animation: count 0.4s ease-in-out;
}

@keyframes count {
  from {
    top: 0.2rem;
    right: -1.8rem;
    transform: rotate(120deg);
  }

  25% {
    top: -0.2rem;
    right: -1.2rem;
    transform: rotate(80deg);
  }

  50% {
    top: -0.4rem;
    right: -0.6rem;
    transform: rotate(60deg);
  }

  75% {
    top: -0.4rem;
    right: 0rem;
    transform: rotate(30deg);
  }

  to {
    top: 0.2rem;
    right: 0.3rem;
    transform: rotate(0deg);
  }
}

/* ===================================================================================================================== */
/*                                              TODO:  SHOPPING CART  TODO:                                              */
/* ===================================================================================================================== */

/* ----------------------------------------------------------------------- */
/* FIXME:  MAIN CONTAINER - HOLDING COUNTER AND SHOPPING CART ICON  FIXME: */
/* ----------------------------------------------------------------------- */

/* -------------------------------------------------------- */
/* FIXME:  CONTAINERS - MAIN (HOLDING ALL ELEMENTS)  FIXME: */
/* -------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* CONTAINER HOLD CART BUTTON with "add-animation" ID for Javascript Code */
/* ---------------------------------------------------------------------- */

.shopping-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

/* ---------------------------------------------------------------------- */
/* CONTAINER HOLD THE CART COUNTER with "counter" ID for Javascript Code  */
/* ---------------------------------------------------------------------- */

.cart_counter-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0rem 2.5rem 2.5rem 0rem;
  margin: 0rem 0rem 0rem 0rem;
  /* border: 1px solid orange; */
}

/* ------------------------------ */
/* FIXME:  ANCHOR ELEMENT  FIXME: */
/* ------------------------------ */

.cart_counter-container a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-shopping-cart-icon);
}

/* ---------------------------------- */
/* FIXME:  SHOPPING CART ICON  FIXME: */
/* ---------------------------------- */

.cart_counter-container i {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.35rem;
  font-weight: 500;
  width: 4rem;
  height: 4rem;
  color: var(--color-shopping-cart-icon);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  /* border: 1px solid red; */
}

/* ------------------------------------------ */
/* FIXME:  SHOPPING CART ICON - HOVER  FIXME: */
/* ------------------------------------------- */

.cart_counter-container i:hover {
  color: var(--color-shopping-cart-icon-hover);
  transform: scale(1.1);
}

/* -------------------------------------------- */
/* FIXME:  SHOPPING CART SPAN - COUNTER  FIXME: */
/* -------------------------------------------- */

.cart_counter-container span {
  position: absolute;
  user-select: none;
  top: 0.4rem;
  right: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--color-wish-list-counter-background);
  color: var(--color-wish-list-counter-text);
  z-index: 1;
}

/* ------------------------------------ */
/* FIXME:  BUTTON - ADD TO CART  FIXME: */
/* ------------------------------------ */

.shopping-container button {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-add-to-cart-button-background);
  color: var(--color-add-to-cart-button-text);
  outline: none;
  border: none;
  transition: transform 0.3s ease-in-out;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35);
  /* border: 1px solid red; */
}

.shopping-container button:hover {
  opacity: 0.9;
  transform: scale(1.02);
  cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------------- */
/* TODO:FIXME:  JAVASCRIPT - SHOPPING CART COUNTER ANIMATION ON "ADD TO CART" BUTTON CLICK  TODO:FIXME: */
/* ---------------------------------------------------------------------------------------------------- */

.cart_counter-container span:not(.animated-counter) {
  display: flex;
}

.cart_counter-container span .animated-counter {
  animation: count 0.4s ease-in-out;
}

@keyframes count {
  from {
    top: 0.2rem;
    right: -1.8rem;
    transform: rotate(120deg);
  }

  25% {
    top: -0.2rem;
    right: -1.2rem;
    transform: rotate(80deg);
  }

  50% {
    top: -0.4rem;
    right: -0.6rem;
    transform: rotate(60deg);
  }

  75% {
    top: -0.4rem;
    right: 0rem;
    transform: rotate(30deg);
  }

  to {
    top: 0.2rem;
    right: 0.3rem;
    transform: rotate(0deg);
  }
}

/* ===================================================================================================================== */
/* TODO:  PART 6 - RESPONSIVE / MOBILE VIEW (ALL MEDIA QUERIES) - FOR 2ND COMPONENT                                      */
/* ===================================================================================================================== */

/* --------------------------- */
/* FIXME:  BREAKPOINT:  830 px */
/* --------------------------- */

@media screen and (max-width: 830px) {
  .top_bar_container_all {
    display: flex;
    flex-direction: column;
  }

  .top_bar_search-bar-container {
    max-width: 41rem;
    margin: 1rem auto 1rem auto;
  }

  .top_bar_social-media ul li {
    margin: 0.5rem 2rem 0rem 2rem;
  }

  .top_bar_search-input .top_bar_search-autocomplete-box {
    width: 100%;
    position: absolute;
    z-index: 9999;
  }
}

/* --------------------------- */
/* FIXME:  BREAKPOINT:  520 px */
/* --------------------------- */

@media screen and (max-width: 520px) {
  .top_bar_search-bar-container {
    max-width: 39rem;
    margin: 1rem auto 1rem auto;
  }

  .top_bar_social-media ul li {
    margin: 0rem 1.8rem 0rem 1.8rem;
  }
}

/* --------------------------- */
/* FIXME:  BREAKPOINT:  450 px */
/* --------------------------- */

@media screen and (max-width: 450px) {
  .top_bar_search-bar-container {
    display: flex;
    flex-direction: column;
    max-width: 33rem;
    margin: 1rem auto 1rem auto;
    padding: 0rem 0rem 0rem 0rem;
  }

  .top_bar_search-bar-container .top_bar_search-input {
    border-radius: 1rem 1rem 0rem 0rem;
  }

  .top_bar_search-bar-container .top_bar_shopping_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0rem 0rem 1rem 1rem;
    border: none;
  }

  .top_bar_container_social {
    top: 4rem;
  }

  .cart_counter-container {
    border-radius: 0rem 0rem 0rem 0rem;
  }

  .top_bar_user_account {
    border-radius: 0rem 0rem 0rem 0rem;
  }

  .top_bar_social-media ul li {
    margin: 0rem 1.7rem 0rem 1.7rem;
  }
}

/* --------------------------- */
/* FIXME:  BREAKPOINT:  400 px */
/* --------------------------- */

@media screen and (max-width: 400px) {
  .top_bar_search-bar-container {
    max-width: 30rem;
  }

  .top_bar_social-media ul li {
    margin: 0rem 1.4rem 0rem 1.4rem;
  }
}

/* --------------------------- */
/* FIXME:  BREAKPOINT:  350 px */
/* --------------------------- */

@media screen and (max-width: 350px) {
  .top_bar_search-bar-container {
    width: 26rem;
  }

  .top_bar_social-media ul li {
    margin: 0rem 1rem 0rem 1rem;
    /* transform: scale(0.75); */
  }
}

/* --------------------------- */
/* FIXME:  BREAKPOINT:  320 px */
/* --------------------------- */

@media screen and (max-width: 320px) {
  .top_bar_search-bar-container {
    width: 23.5rem;
  }

  .top_bar_social-media ul li {
    margin: 0rem 0.75rem 0rem 0.75rem;
    /* transform: scale(0.75); */
  }
}

/* --------------------------- */
/* FIXME:  BREAKPOINT:  300 px */
/* --------------------------- */

@media screen and (max-width: 300px) {
  .top_bar_search-bar-container {
    width: 22rem;
  }

  .top_bar_social-media ul li {
    margin: 0rem 0.6rem 0rem 0.6rem;
    /* transform: scale(0.75); */
  }
}

/* ===================================================================================================================== */
/*                                                                                            TODO:  STYLING ENDS  TODO: */
/* ===================================================================================================================== */
