/* ===================================================================================================================== */
/* TODO:  STYLING FOR SHOPMAX NAVIGATION - SHOP PRODUCTS                                                                 */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES                                                                                                 */
/* ===================================================================================================================== */
/* 01.  USER-SELECT controls whether the user can select TEXT (none / auto / text / contain / all)                       */
/* 02.  OVERFLOW sets behavior when an element's content is too big to fit in its block (in both directions)             */
/*      Options Available: visible / hidden / clip / scroll / auto                                                       */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

* {
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  box-sizing: border-box;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--color-page-background);
  /* overflow: hidden; */
}

:root {
  /* COLOR SCHEME - PAGE BACKGROUND */
  --color-page-background: #18191a;
  /* COLOR SCHEME - TOP NAVIGATION */
  --color-top-navigation-background: #242526;
  --color-top-navigation-text: #b0b3b8;
  /* COLOR SCHEME - DROP-DOWN MENU CONTAINER & TOOLTIP */
  --color-tooltip-background: #242526;
  --color-drop-down-container: #242526;
  /* COLOR SCHEME - UNORDERED LIST, LIST ITEMS, ANCHORS (ALL LEVELS) */
  --color-menu-items-all-levels: #b0b3b8;
  --color-menu-items-all-levels-hover: #3a3b3c;
  /* COLOR SCHEME - ICON CONTAINER */
  --color-icon-container: #ffffff1a;
  /* COLOR SCHEME - BACK-BUTTON ICON (ARROW) AND TEXT */
  --color-back-button-arrow-and-text: #b0b3b8;
}

/* SIZING OF THE ITEMS */

:root {
  --topnavigation-button-width: 24rem;
  --topnavigation-line-height: 3rem;
  --topnavigation-font-size: 1.5rem;
  --topnavigation-dropdown-icon-line-height: 3rem;
  --topnavigation-dropdown-icon-font-size: 2.2rem;
  --navigation-wrapper-width: 24rem;
  --navigation-wrapper-ul-width: 24rem;
  --navigation-wrapper-ul-li-line-height: 3rem;
  --navigation-wrapper-ul-li-anchor-font-size: 1.2rem;
  --icon-circle-height: 2.3rem;
  --icon-circle-width: 2.3rem;
  --icon-right-angle-font-size: 2.2rem;
  --icon-back-button-font-size: 1.3rem;
}

/* ===================================================================================================================== */
/* TODO:  TOP NAVIGATION - TITLE, BUTTON & DROP-DOWN ICON                                                                */
/* ===================================================================================================================== */

/* TOP NAVIGATION - POSITIONING */

nav {
  position: absolute;
  top: 1%;
  left: 1%;
  transform: translate(-1%, -1%);
}

/* TOP NAVIGATION - TITLE & BUTTON (THE COMPLETE BOX IS THE BUTTON) */

nav .productsdrop-btn {
  width: var(--topnavigation-button-width);
  background: var(--color-top-navigation-background);
  color: var(--color-top-navigation-text);
  line-height: var(--topnavigation-line-height);
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 0.5rem;
  font-size: var(--topnavigation-font-size);
  font-weight: 500;
  /* NEW CODE ADDED */
  /* text-transform: uppercase; */
}

/* TOP NAVIGATION - DROP-DOWN ICON */

nav .productsdrop-btn span {
  float: right;
  line-height: var(--topnavigation-dropdown-icon-line-height);
  font-size: var(--topnavigation-dropdown-icon-font-size);
  cursor: pointer;
}

/* ===================================================================================================================== */
/* TODO:  1ST LEVEL NAVIGATION - TOOLTIP & DROP-DOWN MENU (CONTAINER)                                                    */
/* ===================================================================================================================== */

/* 1ST LEVEL - TOOLTIP POSITIONING, SIZING & COLOR  */

nav .productstooltip {
  position: absolute;
  right: 1.2rem;
  bottom: -1.2rem;
  height: 1rem;
  width: 1rem;
  background: var(--color-tooltip-background);
  transform: rotate(45deg);
  display: none;
}

/* =============================================== */
/* TODO:  TOOLTIP LINK TO JAVASCRIPT CODE          */
/* =============================================== */

/* TOOLTIP - DISPLAY ON OPENING OF CONTAINER */

nav .productstooltip.show {
  display: block;
}

/* ============================================== */

/* 1ST LEVEL - CONTAINER (HOLDING ALL ELEMENTS */

/* CONTAINER - POSITIONING AND SIZING */

nav .productswrapper {
  position: absolute;
  top: 3.65rem;
  display: flex;
  /* width: 40rem; */
  /* width: 120rem; */
  width: var(--navigation-wrapper-width);
  overflow: hidden;
  background: var(--color-drop-down-container);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  display: none;
}

/* ============================================= */
/* TODO:  CONTAINER LINK TO JAVASCRIPT SCRIPT    */
/* ============================================= */

/* CONTAINER - OPEN, CLOSING, DISPLAY TYPE */

nav .productswrapper.show {
  display: block;
  display: flex;
}

/* ============================================= */

/* ===================================================================================================================== */
/* TODO:  1ST LEVEL NAVIGATION - MENU-ITEMS (UNORDERED LISTS, LIST ITEMS, ANCHORS AND ICONS)                             */
/* ===================================================================================================================== */

/* lEVEL 1 - UNORDERED LIST - REMOVE BULLETS, SET MAX-WIDTH OF LIST-ITEMS, SET PADDING AROUND LIST-ITEMS */

nav .productswrapper ul {
  list-style: none;
  width: var(--navigation-wrapper-ul-width);
  padding: 1rem 0.5rem 1rem 0.5rem;
  transition: all 0.3s ease;
}

/* LEVEL 1 - LIST ITEMS - SET MAX LINE-HEIGHT OF LIST -ITEMS */

nav .productswrapper ul li {
  line-height: var(--navigation-wrapper-ul-li-line-height);
}

/* LEVEL 1 - UNORDERED LIST, LIST ITEMS, ANCHORS (POSITIONING, SIZING, FONT-SIZING) */

nav .productswrapper ul li a {
  position: relative;
  text-decoration: none;
  color: var(--color-menu-items-all-levels);
  display: flex;
  font-size: var(--navigation-wrapper-ul-li-anchor-font-size);
  font-weight: 500;
  padding: 0rem 0rem 0rem 0.5rem;
  align-items: center;
  border-radius: 0.8rem;
}

/* LEVEL 1 - UNORDERED LIST, LIST ITEMS, ANCHORS (ON HOVER COLOR) */

nav .productswrapper ul li:hover a {
  background: var(--color-menu-items-all-levels-hover);
}

/* LEVEL 1 - ICON CONTAINER - HEIGTH, WIDTH, MARGINS, BACKGROUND COLOR, ALIGNMENT OF ICONS WITHIN */

.productswrapper ul li a .icon {
  height: var(--icon-circle-height);
  width: var(--icon-circle-width);
  margin: 0rem 1.3rem 0rem 0rem;
  background: var(--color-icon-container);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}

/* LEVEL 1 - NAVIGATION ICONS (TO NEXT LEVEL) - ICON: FA-ANGLE-RIGHT */

.productswrapper ul li a i {
  position: absolute;
  right: 0.7rem;
  font-size: var(--icon-right-angle-font-size);
  pointer-events: none;
}

/* FIRST LEVEL DROPDOWN-TO-RIGHT */

/* ===================================================================================================================== */
/* TODO:  2ND LEVEL NAVIGATION - THE BACK BUTTON (ARROW) TO THE FIRST LEVEL & BUTTON TEXT                                */
/* ===================================================================================================================== */

.productswrapper ul .arrow {
  padding: 0rem 0rem 0rem 1rem;
  font-size: var(--icon-back-button-font-size);
  font-weight: 700;
  color: var(--color-back-button-arrow-and-text);
  cursor: pointer;
}

.productswrapper ul .arrow span {
  margin: 0rem 1.8rem 0rem 0rem;
}

/* ===================================================================================================================== */
/* TODO:  THE INCLUDED HIDDEN NESTED LISTS ON THE NAVIGATION (WHICH IS NOT VISIBLE WHEN NOT ACTIVE)                      */
/* ===================================================================================================================== */

nav .productswrapper .shopper-drop,
nav .productswrapper .seller-drop,
nav .productswrapper .investor-drop,
nav .productswrapper .marketplaceproducts-drop,
nav .productswrapper .generalservices-drop,
nav .productswrapper .professionalservices-drop,
nav .productswrapper .skynamo-drop,
nav .productswrapper .whistleblowing-drop,
nav .productswrapper .sellingplans-drop,
nav .productswrapper .investingplans-drop,
nav .productswrapper .mobile-drop,
nav .productswrapper .laptops-drop,
nav .productswrapper .phones-drop,
nav .productswrapper .tablets-drop,
nav .productswrapper .watches-drop,
nav .productswrapper .data-drop,
nav .productswrapper .mobileaccessories-drop,
nav .productswrapper .office-drop,
nav .productswrapper .desktoppc-drop,
nav .productswrapper .pccomponents-drop,
nav .productswrapper .pcperipherals-drop,
nav .productswrapper .servers-drop,
nav .productswrapper .pointofsale-drop,
nav .productswrapper .securitysurveillance-drop,
nav .productswrapper .printers-drop,
nav .productswrapper .projectors-drop,
nav .productswrapper .software-drop,
nav .productswrapper .officestationery-drop,
nav .productswrapper .officefurniture-drop,
nav .productswrapper .homeliving-drop,
nav .productswrapper .bathrooms-drop,
nav .productswrapper .bedrooms-drop,
nav .productswrapper .cookware-drop,
nav .productswrapper .diningrooms-drop,
nav .productswrapper .kitchen-drop,
nav .productswrapper .laundry-drop,
nav .productswrapper .lounge-drop,
nav .productswrapper .patiopools-drop,
nav .productswrapper .homeaccessories-drop,
nav .productswrapper .television-drop,
nav .productswrapper .hobbies-drop,
nav .productswrapper .booksall-drop,
nav .productswrapper .camerasall-drop,
nav .productswrapper .gamingall-drop,
nav .productswrapper .radiocontrol-drop,
nav .productswrapper .toysall-drop,
nav .productswrapper .outdoors-drop,
nav .productswrapper .camping-drop,
nav .productswrapper .offroadvehicles-drop,
nav .productswrapper .outdoorgear-drop,
nav .productswrapper .shoothunt-drop,
nav .productswrapper .watersports-drop,
nav .productswrapper .sports-drop,
nav .productswrapper .tablesports-drop,
nav .productswrapper .diyall-drop,
nav .productswrapper .diygardening-drop,
nav .productswrapper .diymaterials-drop,
nav .productswrapper .diytools-drop,
nav .productswrapper .covid19-drop,
nav .productswrapper .emergency-drop,
nav .productswrapper .energy-drop,
nav .productswrapper .groceries-drop,
nav .productswrapper .freshproduce-drop,
nav .productswrapper .bakery-drop,
nav .productswrapper .dairyeggs-drop,
nav .productswrapper .deliparty-drop,
nav .productswrapper .meatspoultryfish-drop,
nav .productswrapper .frozenfoods-drop,
nav .productswrapper .beveragesall-drop,
nav .productswrapper .tabacco-drop,
nav .productswrapper .beercider-drop,
nav .productswrapper .winesall-drop,
nav .productswrapper .spiritsall-drop,
nav .productswrapper .snacks-drop,
nav .productswrapper .foodcupboard-drop,
nav .productswrapper .babycare-drop,
nav .productswrapper .petcare-drop,
nav .productswrapper .braaioutdoors-drop,
nav .productswrapper .clothingfootwear-drop,
nav .productswrapper .ladiesgroup-drop,
nav .productswrapper .ladiesshoes-drop,
nav .productswrapper .ladiesbottoms-drop,
nav .productswrapper .ladiesdresses-drop,
nav .productswrapper .ladiestops-drop,
nav .productswrapper .ladiesjackets-drop,
nav .productswrapper .ladieslingerie-drop,
nav .productswrapper .ladiessports-drop,
nav .productswrapper .ladiesswimwear-drop,
nav .productswrapper .ladiesaccessories-drop,
nav .productswrapper .ladiesbeauty-drop,
nav .productswrapper .mensgroup-drop,
nav .productswrapper .mensshoes-drop,
nav .productswrapper .mensbottoms-drop,
nav .productswrapper .mensformalwear-drop,
nav .productswrapper .menstops-drop,
nav .productswrapper .mensjackets-drop,
nav .productswrapper .mensunderwear-drop,
nav .productswrapper .menssports-drop,
nav .productswrapper .mensswimwear-drop,
nav .productswrapper .mensaccessories-drop,
nav .productswrapper .mensgrooming-drop,
nav .productswrapper .kidsgroup-drop,
nav .productswrapper .babygirls-drop,
nav .productswrapper .babyboys-drop,
nav .productswrapper .girlstwoeight-drop,
nav .productswrapper .boystwoeight-drop,
nav .productswrapper .girlseightsixteen-drop,
nav .productswrapper .boyseightsixteen-drop {
  display: none;
}

/* ===================================================================================================================== */
/* TODO:  PART 3 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 3)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 4 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 4)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 5 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 5)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 6 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 6)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 7 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 7)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 8 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 8)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 9 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 9)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 10 -                                                                                                      */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 10)                                                                                       */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/*                                                                                            TODO:  STYLING ENDS  TODO: */
/* ===================================================================================================================== */
