<!-- TODO: CONTACT US -->
<div>
  <div class="footer__socialmedia">
    <p class="contact__title">SOSIALE MEDIA</p>
    <a href="https://www.facebook.com/jouwarenoord" target="_blank"
      ><img class="facebook" src="images/white_facebook.png" alt="Facebook"
    /></a>
    <a href="https://www.instagram.com/kettiemeisie/" target="_blank"
      ><img class="instagram" src="images/white_instagram.png" alt="Instagram"
    /></a>
    <a href="https://twitter.com/KettieLtd" target="_blank"
      ><img class="twitter" src="images/white_twitter.png" alt="Twitter"
    /></a>
    <a
      href="https://www.youtube.com/channel/UC2EDBZN2j_p5tp7HquAfvPQ"
      target="_blank"
      ><img class="youtube" src="images/white_youtube.png" alt="YouTube"
    /></a>
  </div>
  <div class="footer__email">
    <p class="contact__title">STUUR E-POS</p>
    <a href="mailto:sales@kettiemeisie.com">sales@kettiemeisie.com</a>
  </div>
  <div class="footer__contact">
    <p class="contact__title">KONTAK ONS</p>
    <div>
      <a href="https://wa.me/27673716894" target="_blank">067 371 6894</a>
    </div>
    <div>
      <a href="https://wa.me/27666209866" target="_blank">066 620 9866</a>
    </div>
  </div>
</div>
