<!-- _________________________________________________________________________________ -->
<!-- TODO: HTML SECTION - STRUCTURE -->
<!-- _________________________________________________________________________________ -->

<body>
  <!-- FIXME: SECTION 7 - HERVERKOPERS -->
  <div
    id="section-herverkopers"
    class="herverkopers__banner"
    data-aos="fade-right"
    data-aos-duration="3000"
  >
    <img class="herverkopers__image" src="images/KM_herverkopers.webp" alt="" />
    <div class="herverkopers__header__01">
      <p class="herverkopers__heading__01">herverkopers</p>
    </div>
    <div class="herverkopers__header__02">
      <p class="herverkopers__heading__2">Loods eerdaags</p>
    </div>
  </div>
  <!-- TODO: NAVIGATION (GAAN NOORD) - LINK TO TOP OF PAGE (FOR OTHER SECTIONS) -->
  <section
    class="block__navigation__gaan__noord container__navigation__gaan__noord"
  >
    <div class="navigation__gaan__noord__other__header">
      <div class="navigation__gaan__noord__other">
        <div>
          <img
            class="navigation__gaan__noord-image"
            src="images/KM_kompas.webp"
            alt=""
          />
        </div>
        <div>
          <a href="#" class="navigation__gaan__noord-link">gaan noord</a>
        </div>
      </div>
    </div>
  </section>
</body>

<!-- _________________________________________________________________________________ -->
<!-- TODO: CSS SECTION - STYLES (PASTE BELOW IN CSS FILE) -->
<!-- _________________________________________________________________________________ -->

<style>
  /* ________________________________________________________________________________________________________________________ */

  /* FIXME: SECTION 7 - HERVERKOPERS */

  /* ________________________________________________________________________________________________________________________ */

  /* TODO: MOBILE (first) : Screen sizes between 320px - 768px */

  .herverkopers__banner {
    position: relative;
    top: 0;
    left: 0;
  }

  .herverkopers__bannner {
    margin-top: 0;
  }

  .herverkopers__image {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    /* border: 1px solid red; */
  }

  .herverkopers__header__01 {
    position: absolute;
    font-size: 2.7rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--color-closing__banner-header);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid yellow; */
  }

  .herverkopers__header__02 {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 4px;
    color: var(--color-closing__banner-header);
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid yellow; */
  }

  /* TODO: MEDIA QUERY (HERVERKOPERS) - TABLET / LAPTOP / PC - Screen sizes larger than 768px */

  @media screen and (min-width: 768px) {
    .herverkopers__header__01 {
      font-size: 6rem;
    }

    .herverkopers__header__02 {
      font-size: 3rem;
    }
  }
</style>
