<!-- TODO: BLOCK (TESTIMONIALS) - "JOU TERUGVOER" -->
<!-- TODO: TESTIMONIAL - HEADER SECTION -->
<section class="block containter">
  <header class="block__header">
    <h2 class="block__heading">jou terugvoer</h2>
    <p class="block__tagline">(oor ons produkte en dienste)</p>
  </header>
</section>
<!-- TODO: TESTIMONIAL - IMAGES SECTION (2 x IMAGES) -->
<section class="testimonial__block">
  <article class="grid grid--1x2 testimonial">
    <picture>
      <img
        class="testimonial__image__1"
        src="images/KM_tatoogirl.webp"
        alt=""
      />
    </picture>
    <div class="testimonial__positioning">
      <picture>
        <img
          class="testimonial__image__2"
          src="images/KM_terugvoer.webp"
          alt=""
        />
      </picture>
      <!-- Testimonial 1 -->
      <p class="testimonial__text__positioning__1">
        "You have such a cool brand. Looking forward to seeing more from you
        guys."
      </p>
      <!-- Testimonial 2 -->
      <p class="testimonial__text__positioning__2">
        "Write something on our social media pages, to be placed here"
      </p>
      <!-- Testimonial 3 -->
      <p class="testimonial__text__positioning__3">
        "I love the dark designs."
      </p>
      <!-- Testimonial 4 -->
      <p class="testimonial__text__positioning__4">
        "Write something on our social media pages, to be placed here"
      </p>
    </div>
  </article>
</section>
<!-- TODO: TESTIMONIAL - NAVIGATION SECTION -->
<!-- TODO: NAVIGATION (NOORD) - Link to top of page -->
<section class="block container">
  <div class="block__header">
    <div class="nav__noord">
      <div>
        <img class="nav__noord-image" src="images/KM_kompas.webp" alt="" />
      </div>
      <div><a href="#" class="nav__noord-link">gaan noord</a></div>
    </div>
  </div>
</section>
