<!-- TODO: BLOCK / ARTICLE FEATURE - "ONS STORIE" -->
<section class="feature__block">
  <article class="grid grid--1x2 feature">
    <picture>
      <img class="feature__image" src="images/KM_motivation.webp" alt="" />
    </picture>
    <div class="feature__content">
      <h2 class="feature__heading">ons storie</h2>
      <p class="feature__story">
        "Kettie Meisie" is iemand wat in haarself glo, na haar binneste stem
        luister en haar ware noord volg. Nie een "Kettie Meisie" se noord is
        dieselfde nie, en dit maak haar uniek, spesiaal en besonders. Haar
        innerlike skoonheid, menswees en omgee vir ander, leef sy daagliks
        nederig en onvoorwaardelik uit. Die "Kettie Meisie" klerereeks
        verteenwoordig daardie soeke na haar ware noord, wat geïnspireer word
        deur die keuses van haar hart, die daaglikse besluite wat sy neem en die
        vreeslose treë wat sy stap in die rigting van haar ware noord ...
      </p>
      <!-- <a href="#" class="feature__link">terug na bo</a> -->
      <!-- TODO: NAVIGATION (NOORD) - Link to top of page -->
      <section class="block container nav__ons__storie">
        <div class="block__header">
          <div class="nav__noord">
            <div>
              <img
                class="nav__noord-image"
                src="images/KM_kompas.webp"
                alt=""
              />
            </div>
            <div><a href="#" class="nav__noord-link">gaan noord</a></div>
          </div>
        </div>
      </section>
    </div>
  </article>
</section>
