<!-- TODO: CLOTHING BLOCK - DAMES STYLE -->
<!-- TODO: CATEGORY (HEADING) - DAMES STYLE -->
<div class="dames__style-background">
  <section class="block containter">
    <div class="dames__style">
      <picture>
        <img class="dames__style-image" src="images/KM_backstrip3.png" alt="" />
      </picture>
      <header class="block__header dames__style-text">
        <h2 class="block__heading">ons dames style</h2>
        <p class="block__tagline mytemp2">(kies jou perfekte styl)</p>
      </header>
    </div>
  </section>
</div>
<!-- TODO: PRODUCT 1 (HEADING) - BlOU VERF -->
<div class="heading__background__product-01">
  <section class="block container">
    <header class="block__header">
      <p class="block__tagline heading__product-01">blou verf</p>
    </header>
  </section>
</div>
<!-- TODO: PRODUCT 1 (MOODBOARD & PRODUCT IMAGE) - BLOU VERF  -->
<section class="testimonial__block background__product-01">
  <article class="grid grid--1x2 spacing__product-01">
    <picture>
      <img
        class="moodboard__product-01"
        src="images/KM_product_01_MB.webp"
        alt=""
      />
    </picture>
    <picture>
      <img
        class="image__product-01"
        src="images/KM_product_01_Shirt.webp"
        alt=""
      />
    </picture>
  </article>
</section>
<!-- TODO: NAVIGATION (NOORD) - Link to top of page -->
<div class="navigation__background__product-01">
  <section class="block container link__background__product-01">
    <div class="block__header">
      <div class="nav__noord">
        <div>
          <img class="nav__noord-image" src="images/KM_mandjie.webp" alt="" />
        </div>
        <div>
          <a href="#" class="nav__noord-link">sit in jou mandjie en bestel</a>
        </div>
      </div>
    </div>
  </section>
</div>
