<!-- TODO: SEARCH ENGINE OPTIMISATION (SEO) TECHIQUES - WITH OPEN GRAPH PROTOCOL (OG) -->
<!-- https://ogp.me/ -->
<meta
  property="og:title"
  content="The title of your object as it should appear within the graph"
/>
<meta
  property="og:description"
  content="A one to two sentence description of your object"
/>
<meta property="og:type" content="The type of your object .... e.g. website" />
<meta
  property="og:image"
  content="An image URL which should represent your object within the graph"
/>
<meta property="og:url" content="The URL of your website" />
<meta
  property="og:locale"
  content="Format: language_TERRITORY. Default is en_US / for SA - af_ZA."
/>
<meta
  property="og:audio"
  content="A URL to an audio file to accompany this object"
/>
<meta
  property="og:video"
  content="A URL to a video file that complements this object"
/>
<!-- TODO: SEARCH ENGINE OPTIMISATION (SEO) TECHIQUES - STANDARD -->
<meta
  name="description"
  content="Give Short Description of your page - comes up in Google Search Results"
/>
<meta
  name="keywords"
  content="Keywords for search engines to find you, e.g. South Africa, Clothing, Laptops etc."
/>
