/* ===================================================================================================================== */
/* TODO:  STYLING FOR SHOPMAX NAVIGATION - SHOP PRODUCTS                                                                 */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES                                                                                                 */
/* ===================================================================================================================== */
/* 01.  USER-SELECT controls whether the user can select TEXT (none / auto / text / contain / all)                       */
/* 02.  OVERFLOW sets behavior when an element's content is too big to fit in its block (in both directions)             */
/*      Options Available: visible / hidden / clip / scroll / auto                                                       */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

* {
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  box-sizing: border-box;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--color-page-background);
  /* overflow: hidden; */
}

:root {
  /* COLOR SCHEME - PAGE BACKGROUND */
  --color-page-background: #18191a;
  /* COLOR SCHEME - TOP NAVIGATION */
  --color-top-navigation-background: #242526;
  --color-top-navigation-text: #b0b3b8;
  /* COLOR SCHEME - DROP-DOWN MENU CONTAINER & TOOLTIP */
  --color-tooltip-background: #242526;
  --color-drop-down-container: #242526;
  /* COLOR SCHEME - UNORDERED LIST, LIST ITEMS, ANCHORS (ALL LEVELS) */
  --color-menu-items-all-levels: #b0b3b8;
  --color-menu-items-all-levels-hover: #3a3b3c;
  /* COLOR SCHEME - ICON CONTAINER */
  --color-icon-container: #ffffff1a;
  /* COLOR SCHEME - BACK-BUTTON ICON (ARROW) AND TEXT */
  --color-back-button-arrow-and-text: #b0b3b8;
}

/* ===================================================================================================================== */
/* TODO:  TOP NAVIGATION - TITLE, BUTTON & DROP-DOWN ICON                                                                */
/* ===================================================================================================================== */

/* TOP NAVIGATION - POSITIONING */

nav {
  position: absolute;
  top: 1%;
  left: 1%;
  transform: translate(-1%, -1%);
}

/* TOP NAVIGATION - TITLE & BUTTON (THE COMPLETE BOX IS THE BUTTON) */

nav .drop-btn {
  width: 40rem;
  background: var(--color-top-navigation-background);
  color: var(--color-top-navigation-text);
  line-height: 5rem;
  padding: 0rem 2rem 0rem 2rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  /* NEW CODE ADDED */
  /* text-transform: uppercase; */
}

/* TOP NAVIGATION - DROP-DOWN ICON */

nav .drop-btn span {
  float: right;
  line-height: 5rem;
  font-size: 2.8rem;
  cursor: pointer;
}

/* ===================================================================================================================== */
/* TODO:  1ST LEVEL NAVIGATION - TOOLTIP & DROP-DOWN MENU (CONTAINER)                                                    */
/* ===================================================================================================================== */

/* 1ST LEVEL - TOOLTIP POSITIONING, SIZING & COLOR  */

nav .tooltip {
  position: absolute;
  right: 2.2rem;
  bottom: -2.2rem;
  height: 1.5rem;
  width: 1.5rem;
  background: var(--color-tooltip-background);
  transform: rotate(45deg);
  display: none;
}

/* =============================================== */
/* TODO:  TOOLTIP LINK TO JAVASCRIPT CODE          */
/* =============================================== */

/* TOOLTIP - DISPLAY ON OPENING OF CONTAINER */

nav .tooltip.show {
  display: block;
}

/* ============================================== */

/* 1ST LEVEL - CONTAINER (HOLDING ALL ELEMENTS */

/* CONTAINER - POSITIONING AND SIZING */

nav .wrapper {
  position: absolute;
  top: 6.5rem;
  display: flex;
  /* width: 40rem; */
  /* width: 120rem; */
  width: 40rem;
  overflow: hidden;
  background: var(--color-drop-down-container);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  display: none;
}

/* ============================================= */
/* TODO:  CONTAINER LINK TO JAVASCRIPT SCRIPT    */
/* ============================================= */

/* CONTAINER - OPEN, CLOSING, DISPLAY TYPE */

nav .wrapper.show {
  display: block;
  display: flex;
}

/* ============================================= */

/* ===================================================================================================================== */
/* TODO:  1ST LEVEL NAVIGATION - MENU-ITEMS (UNORDERED LISTS, LIST ITEMS, ANCHORS AND ICONS)                             */
/* ===================================================================================================================== */

/* lEVEL 1 - UNORDERED LIST - REMOVE BULLETS, SET MAX-WIDTH OF LIST-ITEMS, SET PADDING AROUND LIST-ITEMS */

nav .wrapper ul {
  list-style: none;
  width: 40rem;
  padding: 1rem 1rem 1rem 1rem;
  transition: all 0.3s ease;
}

/* LEVEL 1 - LIST ITEMS - SET MAX LINE-HEIGHT OF LIST -ITEMS */

nav .wrapper ul li {
  line-height: 5.5rem;
}

/* LEVEL 1 - UNORDERED LIST, LIST ITEMS, ANCHORS (POSITIONING, SIZING, FONT-SIZING) */

nav .wrapper ul li a {
  position: relative;
  text-decoration: none;
  color: var(--color-menu-items-all-levels);
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0rem 1rem 0rem 1rem;
  align-items: center;
  border-radius: 0.8rem;
}

/* LEVEL 1 - UNORDERED LIST, LIST ITEMS, ANCHORS (ON HOVER COLOR) */

nav .wrapper ul li:hover a {
  background: var(--color-menu-items-all-levels-hover);
}

/* LEVEL 1 - ICON CONTAINER - HEIGTH, WIDTH, MARGINS, BACKGROUND COLOR, ALIGNMENT OF ICONS WITHIN */

.wrapper ul li a .icon {
  height: 4rem;
  width: 4rem;
  margin: 0rem 1.3rem 0rem 0rem;
  background: var(--color-icon-container);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}

/* LEVEL 1 - NAVIGATION ICONS (TO NEXT LEVEL) - ICON: FA-ANGLE-RIGHT */

.wrapper ul li a i {
  position: absolute;
  right: 1rem;
  font-size: 2.5rem;
  pointer-events: none;
}

/* FIRST LEVEL DROPDOWN-TO-RIGHT */

/* ===================================================================================================================== */
/* TODO:  2ND LEVEL NAVIGATION - THE BACK BUTTON (ARROW) TO THE FIRST LEVEL & BUTTON TEXT                                */
/* ===================================================================================================================== */

.wrapper ul .arrow {
  padding: 0rem 0rem 0rem 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-back-button-arrow-and-text);
  cursor: pointer;
}

.wrapper ul .arrow span {
  margin: 0rem 1.5rem 0rem 0rem;
}

/* ===================================================================================================================== */
/* TODO:  THE INCLUDED HIDDEN NESTED LISTS ON THE NAVIGATION (WHICH IS NOT VISIBLE WHEN NOT ACTIVE)                      */
/* ===================================================================================================================== */

nav .wrapper .shopper-drop,
nav .wrapper .seller-drop,
nav .wrapper .investor-drop,
nav .wrapper .marketplaceproducts-drop,
nav .wrapper .generalservices-drop,
nav .wrapper .professionalservices-drop,
nav .wrapper .skynamo-drop,
nav .wrapper .whistleblowing-drop,
nav .wrapper .sellingplans-drop,
nav .wrapper .investingplans-drop,
nav .wrapper .covid19-drop,
nav .wrapper .emergency-drop,
nav .wrapper .energy-drop,
nav .wrapper .groceries-drop,
nav .wrapper .freshproduce-drop,
nav .wrapper .bakery-drop,
nav .wrapper .dairyeggs-drop,
nav .wrapper .deliparty-drop,
nav .wrapper .meatspoultryfish-drop,
nav .wrapper .frozenfoods-drop,
nav .wrapper .beveragesall-drop,
nav .wrapper .tabacco-drop,
nav .wrapper .beercider-drop,
nav .wrapper .winesall-drop,
nav .wrapper .spiritsall-drop,
nav .wrapper .snacks-drop,
nav .wrapper .foodcupboard-drop,
nav .wrapper .babycare-drop,
nav .wrapper .petcare-drop,
nav .wrapper .braaioutdoors-drop,
nav .wrapper .clothingfootwear-drop,
nav .wrapper .ladiesgroup-drop,
nav .wrapper .ladiesshoes-drop,
nav .wrapper .ladiesbottoms-drop,
nav .wrapper .ladiesdresses-drop,
nav .wrapper .ladiestops-drop,
nav .wrapper .ladiesjackets-drop,
nav .wrapper .ladieslingerie-drop,
nav .wrapper .ladiessports-drop,
nav .wrapper .ladiesswimwear-drop,
nav .wrapper .ladiesaccessories-drop,
nav .wrapper .ladiesbeauty-drop,
nav .wrapper .mensgroup-drop,
nav .wrapper .mensshoes-drop,
nav .wrapper .mensbottoms-drop,
nav .wrapper .mensformalwear-drop,
nav .wrapper .menstops-drop,
nav .wrapper .mensjackets-drop,
nav .wrapper .mensunderwear-drop,
nav .wrapper .menssports-drop,
nav .wrapper .mensswimwear-drop,
nav .wrapper .mensaccessories-drop,
nav .wrapper .mensgrooming-drop,
nav .wrapper .kidsgroup-drop,
nav .wrapper .babygirls-drop,
nav .wrapper .babyboys-drop,
nav .wrapper .girlstwoeight-drop,
nav .wrapper .boystwoeight-drop,
nav .wrapper .girlseightsixteen-drop,
nav .wrapper .boyseightsixteen-drop {
  display: none;
}

/* ===================================================================================================================== */
/* TODO:  PART 3 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 3)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 4 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 4)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 5 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 5)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 6 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 6)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 7 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 7)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 8 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 8)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 9 -                                                                                                       */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 9)                                                                                        */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  PART 10 -                                                                                                      */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES (PART 10)                                                                                       */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/*                                                                                            TODO:  STYLING ENDS  TODO: */
/* ===================================================================================================================== */
