/* ------------------------------------------------------------------------- */
/* TODO:   GLOBAL STYLES FOR WEBSITE                                         */
/* ------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "roboto", "open sans", sans-serif;
}

/* ------------------------------------------------------------------------- */
/* FIXME:   STANDARD FONT-SITE : 62.5% of 16px (Std Size) = 10px             */
/* ------------------------------------------------------------------------- */

html {
  font-size: 62.5%;
}

/* ------------------------------------------------------------------------- */
/* TODO:  SECTION - NAVIGATION                                               */
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------- */
/* TODO: NAVIGATION - Define the WEBSITE VERSION STYLES                      */
/* ------------------------------------------------------------------------- */

/* FIXME:   NAVBAR=CONTAINER */

.navbar-container {
  /* A - Set MARGINS (Top/Bottom & Left/Right / Top, Right, Bottom, Left     */
  /* B - DISPLAY items next to each other by using FLEXBOX                   */
  /* C - JUSTIFY-CONTENT so there is enough SPACE-BETWEEN items / centre     */
  /* D - ALIGN-ITEMS to the CENTER to align in middle of Brand Title/Logo    */
  /* E - Set the Color of the Background                                     */
  /* F - Set the Color of the Text-Links                                     */
  /* G - Set the WIDTH of the Container to stretch across the page           */
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 100vw;
}

/* FIXME:  OPTION 1 : Make "navbar-container" STICKY ON SCROLL               */
/* Use this option when there is nothing above the navbor                    */

.navbar-container {
  /* A - Add the BROWSER COMPATIBILITY Sets for STICKY                       */
  /* A - Set the POSITION of the navbar to FIXED or STICKY                   */
  /* FIXED - No items above NAVBAR / STICKY - There are Items above NAVBAR   */
  /* B - Set the position on TOP to ZERO                                     */
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0%;
}

/* -------------------------------------------------------------------------- */

/* FIXME:   NAVBAR-LINKS */

.navbar-links {
  /* A - Set MARGINS (Top/Bottom & Left/Right / Top, Right, Bottom, Left     */
  /* B - DISPLAY items next to each other by using FLEXBOX                   */
  /* C - ALIGN-ITEMS to the BASELINE                                         */
  /* D - Set the BACKGROUND-COLOR                                            */
  /* E - Set a GAP between the various Links                                 */
  margin: 1rem 0 1rem 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  align-items: baseline;
  background-color: black;
  gap: 3rem;
}

/* -------------------------------------------------------------------------- */

/* FIXME:   NAVBAR-BUTTON = menu-item */

.navbar-button {
  /* A - Set the BACKGROUND colour of the button                           */
  /* B - Set the BORDER around the button to NONE or i.e 1px solid black   */
  /* C - Set TEXT-DECORATION : none,underline,double,dashed,dotted etc.    */
  /* D - Set TEXT-TRANSFORM : none, capitalize, lowercase, uppercase       */
  /* E - Set the text COLOR : choose any color [color name / hex / RGB]    */
  /*     To Make color TRANSPARENT use RGA (0-1) : rgb (77, 0, 255, 0.5)   */
  /* F - Set the FONT-FAMILY if not set globally                           */
  /* G - Set the FONT-STYLE : normal, italic, oblique, oblique 10deg       */
  /* H - Set the FONT-SIZE : Page Default : 1rem = 10px                    */
  /* I - Set the FONT-WEIGHT : normal, bold, 100, 300, 500, 700 etc.       */
  /* J - Set the CURSOR to POINTER when mouse move over button             */
  /* K - Set PADDING around text inside button - Top, Right, Bottom, Left  */
  /* L - Set LETTER-SPACING : 0, 0.1rem, 0.2rem, 0.3rem etc                */
  /* M - Set MARGINS (Top/Bottom & Left/Right / Top, Right, Bottom, Left   */
  background: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: "open sans";
  font-style: normal;
  font-size: 1.05rem;
  font-weight: normal;
  cursor: pointer;
  padding: 0 0 0.5rem 1rem;
  letter-spacing: 0.015rem;
  margin: 0 0 0 0;
}

.navbarDropdown.active > .navbar-button,
.navbar-button:hover {
  /* A - Set the COLOR or BACKGROUND-COLOR for HOVER                          */
  color: darkgrey;
}

/* -------------------------------------------------------------------------- */
/* TODO:    JAVASCRIPT CODE: use navbarDropdown in JavaScript Code            */
/* -------------------------------------------------------------------------- */

.navbarDropdown {
  /* A - CRITICAL: Set the POSITION to RELATIVE in order to ABSOLUTELY position DROPDOWN-MENU */
  position: relative;
}

/* -------------------------------------------------------------------------- */

/* FIXME:   DROPDOWN-MENU */

.navbar-dropdown-menu {
  /* A - CRITICAL: Set the POSITION to ABSOLUTE for proper positioning under the Dropdown Button  */
  /* B - Set LEFT margin to the value that align with the Button-Text                             */
  /* C - Set TOP margin to always be 100% + Some Padding                                          */
  /* D - Set the BACKGROUND-COLOR                                                                 */
  /* E - Set PADDING around text inside the dropdown-menu                                         */
  /* F - Set BORDER-RADIUS to give the dropdown-menu some RONND CORNERS                           */
  /* G - Set BOX-SHADOW to give it a nice shadow: with offset-x | offset-y | blur-radius | spread-radius | color  */
  /* H - Set OPACITY to ZERO so that it doesn't display when you move around with your mouse      */
  /* I - Implement some ANIMATION by doing a TRANSITION on the OPACITY element                    */
  /* J - Set POINTER-EVENT to none so that nothing can happen when you click the button           */
  position: absolute;
  left: 0.8rem;
  top: calc(100% + 0.05rem);
  background-color: #555;
  padding: 1.5rem 1rem 1rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 15px 0 rgb(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-0.5rem);
  transition: opacity 175ms ease-in-out, transform 175ms ease-in-out;
}

/* -------------------------------------------------------------------------- */

/* FIXME: ACTION AND STYLES WHEN THE DROPDOWN-MENU IS ACTIVE                  */

/* HOW TO READ BELOW STATEMENT: Select the "navbar-button" link that is       */
/* inside the "navbar-dropdown" */
/* to display the "navbar-dropdown-menu", whenever the "navbar-button"        */
/* link is FOCUSSED */

.navbarDropdown.active > .navbar-button + .navbar-dropdown-menu {
  /* A - Set OPACITY to 1 so that the Dropdown-Menu can display when ACTIVE   */
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* -------------------------------------------------------------------------- */

/* FIXME:   MENU-CONTENT-GRID */

.menuContent-grid {
  /* A - Set the DISPLAY to GRID                                              */
  /* B - Set amount of Columns with GRID-TEMPLATE-COLUMNS and to MAX-CONTENT  */
  /* C - Set the GAP size between each column                                 */
  /* D - Set the DISPLAY to GRID                                              */
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
}

/* -------------------------------------------------------------------------- */

/* FIXME:   MENU-LINKS */

.menu-links {
  /* A - Set the DISPLAY to FLEX                                              */
  /* B - Set FLEX-DIRECTION to Column to display the items on top of another  */
  /* C - Set the GAP size between each item within the column                 */
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.menu-links a:hover {
  /* A - Set the COLOR of the Anchor Elements on HOVER                        */
  color: darkgray;
}

/* -------------------------------------------------------------------------- */

/* FIXME:   MENU-HEADER */

.menu-header {
  /* A - Remove all "bullet points" by setting LIST-STYLE to NONE             */
  /* B - Remove the "underline" by setting TEXT-DECORATION to NONE            */
  /* C - Set the COLOR of the Anchor Elements                                 */
  /* D - Use TEXT-TRANSFORM to make all text UPPERCASE                        */
  /* E - Set WIDTH to MAX-CONTENT to fit all text in one line                 */
  /* F - Set the FONT-SIZE : Page Default : 1rem = 10px                       */
  /* G - Set LETTER-SPACING : 0, 0.1rem, 0.2rem, 0.3rem etc                   */
  /* H - Set the FONT-FAMILY if not set globally                              */
  /* I - Set the FONT-WEIGHT for the menu-items                               */
  /* j - Set MARGINS (Top/Bottom & Left/Right / Top, Right, Bottom, Left      */
  list-style: none;
  text-decoration: none;
  color: #01a7cf;
  /* color: white; */
  text-transform: uppercase;
  width: max-content;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-family: "roboto";
  font-weight: 700;
  margin: 0.5rem 0 1rem 1rem;
}

/* -------------------------------------------------------------------------- */
