/* ------------------------------------------- */
/* TODO: STYLES - GLOBAL                       */
/* ------------------------------------------- */

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #e4e4e4 url(../Navigation_02/images/picture.jpg) center top;
  background-size: cover;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.logo_style {
  color: #ffffff;
  font-size: 2rem;
  margin-top: 1rem;
  text-decoration: none;
  letter-spacing: 0.2rem;
}

/* ------------------------------------------- */
/* TODO: STYLES - STANDARD FONT SIZE           */
/* ------------------------------------------- */

html {
  font-size: 62.5%;
}

/* ------------------------------------------- */
/* TODO: STYLES - LOGO                         */
/* ------------------------------------------- */

/* .logo_size {
  width: 40%;
} */

/* .logo {
  width: 1rem;
  height: 1rem;
} */

/* .header_left {
  width: 3rem;
} */

/* ------------------------------------------- */
/* TODO: STYLES - HEADER                       */
/* ------------------------------------------- */

.header {
  background: #022335;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 110;
  padding: 1.1rem 3rem;
}

/* ------------------------------------------- */
/* TODO: STYLES - CONTAINER                    */
/* ------------------------------------------- */

.container {
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ------------------------------------------- */
/* TODO: STYLES - MAIN NAVIGATION              */
/* ------------------------------------------- */

/* --------------------- */
/* FIXME: TOP-MENU - 1   */
/* --------------------- */

.main_nav {
}

.main_nav ul {
  padding: 0rem;
  margin: 0;
  list-style: none;
}

.main_nav ul li {
  float: left;
  margin: 0 0 0 2.2rem;
  position: relative;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  position: relative;
}

.main_nav ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.6rem 1.5rem;
  display: block;
  line-height: 2.5;
  transition: all 0.3s ease-out;
}

.main_nav ul li:hover > a {
  color: #0a91da;
}

/* --------------------- */
/* FIXME: SUB-MENU 2     */
/* --------------------- */

.main_nav ul ul {
  position: absolute;
  left: 0;
  top: calc(100% + 1.5rem);
  white-space: nowrap;
  transition: all 0.3s ease-out;
  opacity: 0;
  pointer-events: none;
}

.main_nav ul ul li {
  float: none;
  margin: 0;
  border-bottom: 0.1rem solid #ffffff;
  font-size: 0.9rem;
}

.main_nav > ul > li > ul:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  height: 1.6rem;
  width: 100%;
}

.main_nav ul ul li a {
  background: #022335;
}

.main_nav ul li:hover > ul {
  opacity: 1;
  pointer-events: auto;
}

.main_nav ul li:hover ul li:hover > a {
  background: #0a91da;
  color: #ffffff;
}

/* --------------------- */
/* FIXME: SUB-MENU 3     */
/* --------------------- */

.main_nav ul ul ul {
  left: 100%;
  top: 0;
}

/* --------------------- */
/* FIXME: SUB-MENU 4     */
/* --------------------- */

.main_nav ul ul ul ul {
  left: 100%;
  top: 0;
}

/* --------------------- */
/* FIXME: SUB-MENU 5     */
/* --------------------- */

.main_nav ul ul ul ul ul {
  left: 100%;
  top: 0;
}

/* ------------------------- */
/* FIXME: FONT AWESOME ICON  */
/* ------------------------- */

/* MAIN LEVEL ICON */

.main_nav ul li i {
  position: absolute;
  right: 0;
  top: 1.2rem;
  color: #ffffff;
}

.main_nav ul li:hover > i {
  color: #0a91da;
}

/* OTHER LEVELS ICONS */

.main_nav ul ul li i {
  transform: rotate(-90deg);
  right: 1rem;
  top: 1.2rem;
}

.main_nav ul ul li:hover i {
  color: #ffffff;
}

/* ------------------------------------------- */
/* TODO: RESPONSIVE CSS - Media Queries        */
/* ------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main_nav ul li {
    font-size: 1.6rem;
    margin: 0;
  }
  .main_nav ul li a {
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  .nav_icon,
  #navTrigger {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav_icon {
    display: block;
    position: relative;
    font-size: 3.6rem;
    color: #ffffff;
    cursor: pointer;
  }

  .main_nav {
    position: fixed;
    left: 0;
    top: 7.2rem;
    padding: 0;
    background: #022335;
    z-index: 100;
    height: calc(100% - 7.4rem);
    overflow: auto;
    width: calc(100% - 10rem);
    transition: all 0.3s ease-out;
    transform: translateX(-150%);
  }

  .main_nav ul li {
    float: none;
    margin: 0 !important;
    border-bottom: 0.1rem solid #ffffff;
  }

  .main_nav ul li a {
    padding: 1rem;
  }

  .main_nav > ul > li:hover > a {
    background: #0a91da;
    color: #ffffff;
  }

  .main_nav ul ul {
    position: static;
    pointer-events: auto;
    opacity: 1;
    height: 0;
    overflow: hidden;
  }

  .main_nav ul ul li a {
    padding-left: 2.5rem;
  }

  .main_nav ul ul ul li a {
    padding-left: 3.5rem;
  }

  .main_nav ul ul ul ul li a {
    padding-left: 5rem;
  }

  .main_nav ul ul ul ul ul li a {
    padding-left: 6.5rem;
  }

  .main_nav ul ul ul ul ul ul li a {
    padding-left: 8rem;
  }

  .main_nav ul ul li i {
    transform: rotate(0deg);
    right: 1rem;
  }

  .main_nav ul li i {
    right: 1rem;
  }

  .main_nav ul li:hover > ul {
    height: auto;
  }

  #navTrigger {
    opacity: 0;
    position: fixed;
    width: 0;
    height: 0;
    margin: 0;
  }

  #navTrigger:checked + .main_nav {
    transform: translateX(0%);
  }
}
