/* ===================================================================================================================== */
/* TODO:  STYLING FOR SELLING PLAN 2 - SELL YOUR PRODUCT                                                                 */
/* ===================================================================================================================== */

:root {
  --color-page-background: white;
  --color-page-header-text: white;
  /* Setting Accordian Colours */
  --color-accordian-item-background: white;
  --color-accordian-item-text: black;
  --color-accordian-item-header-active: #8b3365;
  --color-accordian-item-plus-and-minus-sign: #8b3365;
  --color-accordian-item-seperation-line: #edeade;
  /* Setting selling plans colour palettes */
  --color-resellers: #f88e20;
  --color-resellers-rgb: rgb(248, 142, 32);
  --color-sellproduct: #8b3365;
  --color-sellproduct-rgb: rgb(139, 51, 101);
  --color-generalservices: #544179;
  --color-generalservices-rgb: rgb(84, 65, 121);
  --color-professionalservices: #01a7cf;
  --color-professionalservices-rgb: rgb(1, 167, 207);
  /* Setting investing plans colour palettes */
  --color-bronze: #986c43;
  --color-bronze-rgb: rgb(152, 108, 67);
  --color-silver: #7d7d7d;
  --color-silver-rga: rgb(125, 125, 125);
  --color-gold: #dc9d04;
  --color-gold-rgb: rgb(220, 157, 4);
  --color-platinum: #434343;
  --color-platinum-rgb: rgb(67, 67, 67);
  /* FORM TEXT INPUTS */
  --color-input-border: #ccc;
  --color-input-border-focus: #8b3365;
  /* FORM BUTTONS */
  --color-button-background: #8b3365;
  --color-button-text: white;
  /* CUSTOM CHECKBOX */
  --color-custom-checkbox-border: #ccc;
  --color-custom-checkbox-background: white;
  --color-custom-checkbox-checkmark: #8b3365;
  --color-custom-checkbox-focus: #8b3365;
  --color-custom-checkbox-disabled: #959495;
  /* CUSTOM RADIO BUTTON */
  --color-custom-radiobutton-border: #ccc;
  --color-custom-radiobutton-background: white;
  --color-custom-radiobutton-circle: #8b3365;
  --color-custom-radiobutton-focus: #8b3365;
  --color-custom-radiobutton-disabled: #959495;
  /* CUSTOM RANGE SLIDER (PART 1) - THUMB */
  --color-custom-rangeslider-thumb-background: #8b3365;
  --color-custom-rangeslider-thumb-border: #8b3365;
  --color-custom-rangeslider-thumb-shadow-01: rgba(0, 0, 0, 0.35);
  --color-custom-rangeslider-thumb-shadow-02: rgba(0, 0, 0, 0.35);
  /* CUSTOM RANGE SLIDER (PART 2) - TRACK */
  --color-custom-rangeslider-track-background: white;
  --color-custom-rangeslider-track-background-focus: #faf9f6;
  --color-custom-rangeslider-track-border: white;
  --color-custom-rangeslider-track-shadow-01: rgba(0, 0, 0, 0.35);
  --color-custom-rangeslider-track-shadow-02: rgba(0, 0, 0, 0.35);
  /* FILE INPUT / UPLOAD */
  --color-custom-fileinput-background: white;
  --color-custom-fileinput-background-hover: #8b3365;
  --color-custom-fileinput-background-hover-text: white;
  --color-custom-fileinput-label-text: black;
  --color-custom-fileinput-shadow-01: rgba(0, 0, 0, 0.35);
  --color-custom-fileinput-shadow-02: rgba(0, 0, 0, 0.35);
}

* {
  box-sizing: border-box;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
}

html {
  font-family: "poppins", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-page-background);
}

/* ===================================================================================================================== */
/* TODO:  SET THE RESPONSIVE DEFAULT SIZES FOR ALL HEADING ELEMENTS (H1 - H6)                                      TODO: */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  HEADING ELEMENTS : MOBILE / SMALLER SCREENS STYLING                                        FIXME: MOBILE FIRST */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* GENERAL NOTES (ALL HEADER ELEMENTS):                                                                                  */
/* 1.  Set the FONT-FAMILY to be used for the page (i.e. Google Fonts)                                                   */
/* 2.  Set all MARGINS - Top-Rigth-Bottom-Left                                                                           */
/* 3.  Set the FONT-WEIGHT : normal, bold, 100, 300, 500, 700 etc.                                                       */
/* ===================================================================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins";
  margin: 0rem 0rem 2rem 0rem;
  font-weight: 300;
}

/* ===================================================================================================================== */
/* GENERAL NOTES (INDIVIDUAL HEADER ELEMENTS):                                                                           */
/* 1.  Set the FONT-SIZE to be used as the standard for the page [1.6rem = 16px]                                         */
/* 2.  Set LINE-HEIGHT (spacing) : 1rem, 1.25rem, 1.4rem, 1.5rem etc                                                     */
/* 3.  Set LETTER-SPACING : normal, 0.1rem, 0.2rem, 0.3rem etc                                                           */
/* ===================================================================================================================== */

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: 0.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: 0.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* ===================================================================================================================== */
/* TODO:  HEADING ELEMENTS : WEBSITE / LARGER SCREENS STYLING                                      FIXME: LARGER SCREENS */
/* ===================================================================================================================== */

@media (min-width: 600px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

/* ===================================================================================================================== */
/* TODO:  PART 1 - SELLING PLAN 2 - SELL YOUR PRODUCT - PAGE TITLE                                                       */
/* ===================================================================================================================== */

/* ------------------------------- */
/* FIXME:  VIEW - MOBILE FIRST     */
/* ------------------------------- */

.page__title h5 {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-transform: uppercase;
  margin: 1.5rem 0rem 1.5rem 0rem;
  text-align: center;
}

/* ------------------------------- */
/* FIXME:  VIEW - LARGER SCREENS   */
/* ------------------------------- */

/* ===================================================================================================================== */
/* TODO:  PART 2 - SELLING PLAN 2 - SELL YOUR PRODUCT - EMBEDDED YOUTUBE VIDEO                                           */
/* ===================================================================================================================== */

/* ------------------------------- */
/* FIXME:  VIEW - MOBILE FIRST     */
/* ------------------------------- */

.video__container {
  position: relative;
  height: 0;
  width: 100%;
  margin: 0rem 0rem 1.5rem 0rem;
  padding: 0rem 0rem 56.25% 0rem;
}

.video__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.45rem 0.75rem 0.45rem 0.75rem;
  /* border-radius: 1.5rem; */
}

/* ------------------------------- */
/* FIXME:  VIEW - LARGER SCREENS   */
/* ------------------------------- */

@media screen and (min-width: 768px) {
  .video__container iframe {
    padding: 0.2rem 0.75rem 0.2rem 0.75rem;
    /* border-radius: 2rem; */
  }
}

/* ===================================================================================================================== */
/* TODO:  PART 3 - SELLING PLAN 2 - SELL YOUR PRODUCT - BANNER & DOWNLOAD PDF BROCHURE                                   */
/* ===================================================================================================================== */

/* ------------------------------- */
/* FIXME:  VIEW - MOBILE FIRST     */
/* ------------------------------- */

.sellingplan__banner {
  position: relative;
  margin: 2rem 0.4rem 2rem 0.4rem;
}

.sellingplan__banner img {
  width: 100%;
  height: auto;
  /* border: 1px solid lightgray; */
  border-radius: 0.5rem;
  /* box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35); */
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

/* ----------------------------- */
/* TODO:  DOWNLOAD PDF BROCHURE  */
/* ----------------------------- */

.download__pdf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -0.5rem 0rem -2rem 0rem;
}

.download__pdf a {
  color: white;
  text-decoration: none;
}

/* ------------------------------- */
/* FIXME:  VIEW - LARGER SCREENS   */
/* ------------------------------- */

/* ===================================================================================================================== */
/* TODO:  PART 4A - SELLING PLAN 2 - SELL YOUR PRODUCT - ACCORDIAN "MAIN" CONTAINER (HOLDING ALL ELEMENTS)               */
/* ===================================================================================================================== */

.accordian {
  width: 95%;
  max-width: 128rem;
  margin: 2rem auto 2rem auto;
  /* border: 1px solid white; */
}

/* ===================================================================================================================== */
/* TODO:  PART 4B - SELLING PLAN 2 - SELL YOUR PRODUCT - ACCORDIAN "ITEMS" CONTAINER (HOLDING ALL ITEMS)                 */
/* ===================================================================================================================== */

.accordian_item {
  background-color: var(--color-accordian-item-background);
  color: var(--color-accordian-item-text);
  margin: 1rem 0rem 1rem 0rem;
  border-radius: 0.5rem;
  box-shadow: 3px 5px 20px 0 rgba(0, 0, 0, 0.35);
}
/* ===================================================================================================================== */
/* TODO:  PART 4C - SELLING PLAN 2 - SELL YOUR PRODUCT - ACCORDIAN - ITEM (HEADER)                                       */
/* ===================================================================================================================== */

.accordian-item-header {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 0.5rem 3rem 0.5rem 1rem;
  cursor: pointer;
}

/* FIXME:  NOTE:  THE CSS ENTITY CODE FOR PLUS SIGN "+" = "\002B" */
/* FIXME:  NOTE:  THE CSS ENTITY CODE FOR DOWN ARROW "v" = \25BE */

.accordian-item-header::after {
  /* content: "\25BE"; */
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  color: var(--color-accordian-item-plus-and-minus-sign);
  transition: transform 0.5s ease-in-out;
}

/* FIXME:  NOTE:  THE CSS ENTITY CODE FOR MINUS SIGN "-" = "\2212" */

.accordian-item-header.active::after {
  /* transform: rotate(-180deg); */
  content: "\2212";
  transform: none;
}

.accordian-item-header.active {
  color: var(--color-accordian-item-header-active);
}

/* ===================================================================================================================== */
/* TODO:  PART 4D - SELLING PLAN 2 - SELL YOUR PRODUCT - ACCORDIAN-ITEM (BODY)                                           */
/* ===================================================================================================================== */

/* ITEM - MAIN CONTAINER */

.accordian-item-body {
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* ITEM - ALL ELEMENTS CONTAINER */

.accordian-item-body-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-bottom: 1px solid var(--color-accordian-item-seperation-line);
  /* border: 1px solid red; */
}

.content-statement {
  max-width: 900px;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: justify;
  letter-spacing: 0.025rem;
  line-height: 1.5;
  padding: 0rem 1rem 0rem 1rem;
  /* border: 1px solid green; */
}

.content-confirmation {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.5;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-left: 1px solid var(--color-accordian-item-seperation-line);
  /* border: 1px solid red; */
}

.confirmation-image img {
  width: 3rem;
  height: 3rem;
}

.confirmation-text {
  font-size: 1.1rem;
  line-height: 0.5;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

/* ===================================================================================================================== */
/* TODO:  PART 4E - SELLING PLAN 2 - SELL YOUR PRODUCT - MEDIA QUERY (LARGER DEVICES)                                    */
/* ===================================================================================================================== */

@media screen and (max-width: 430px) {
  .accordian-item-header {
    font-size: 1rem;
    justify-content: center;
    text-align: center;
  }

  .accordian-item-body-content {
    flex-direction: column;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  .content-statement {
    justify-content: center;
    text-align: center;
    max-width: 280px;
    font-size: 1rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }

  .content-confirmation {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-left: none;
  }

  .confirmation-image img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .confirmation-text {
    font-size: 1rem;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  }
}

/* ----------------------------------------------------------------------------------------- */
/* FIXME:  GOOGLE CHROME DEVICE - BREAKPOINTS                          TODO: VARIOUS DEVICES */
/* ----------------------------------------------------------------------------------------- */

/* TODO:  SAMSUNG GALAXY FOLD  TODO: */
/* @media screen and (min-width: 280px) and (min-height: 653px) {
            } */

/* TODO:  SAMSUNG GALAXY S8+  TODO: */
/* @media screen and (min-width: 360px) and (min-height: 740px) {
            } */

/* TODO:  APPLE IPHONE SE  TODO: */
/* @media screen and (min-width: 375px) and (min-height: 667px) {
            } */

/* TODO:  APPLE IPHONE 12 PRO  TODO: */
/* @media screen and (min-width: 390px) and (min-height: 844px) {
            } */

/* TODO:  PIXEL 5  TODO: */
/* @media screen and (min-width: 393px) and (min-height: 851px) {
            } */

/* TODO:  SAMSUNG GALAXY A51/A71  TODO: */
/* TODO:  SAMSUNG GALAXY S20 ULTRA  TODO: */
/* @media screen and (min-width: 412px) and (min-height: 914px) {
            } */

/* TODO:  APPLE IPHONE XR  TODO: */
/* @media screen and (min-width: 414px) and (min-height: 896px) {
            } */

/* TODO:  SURFACE DUO  TODO: */
/* @media screen and (min-width: 540px) and (min-height: 720px) {
            } */

/* TODO:  APPLE IPAD MINI  TODO: */
/* @media screen and (min-width: 768px) and (min-height: 1024px) {
            } */

/* TODO:  APPLE IPAD AIR  TODO: */
/* @media screen and (min-width: 820px) and (min-height: 1180px) {
            } */

/* TODO:  SURFACE PRO 7  TODO: */
/* @media screen and (min-width: 912px) and (min-height: 1368px) {
            } */

/* TODO:  NEST HUB  TODO: */
/* @media screen and (min-width: 1024px) and (min-height: 600) {
            } */

/* TODO:  NEST HUB MAX  TODO: */
/* @media screen and (min-width: 1280px) and (min-height: 800px) {
            } */

/* ===================================================================================================================== */
/* TODO:  PART 5 - SELLING PLAN 2 - SELL YOUR PRODUCT - FORM HEADERS (ON REGISTRATION FORM)                              */
/* ===================================================================================================================== */

/* ------------------------------- */
/* FIXME:  VIEW - MOBILE FIRST     */
/* ------------------------------- */

.registration_form__header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  background-color: var(--color-sellproduct);
  color: var(--color-page-header-text);
  margin: 2.5rem 0.4rem 2rem 0.4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 3px 5px 20px 0 rgba(0, 0, 0, 0.35);
}

/* ------------------------- */
/* FIXME:  PRIVACY STATEMENT */
/* ------------------------- */

.privacy__statement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.4rem 2rem 0.4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.privacy__statement strong {
  text-decoration: none;
  color: var(--color-sellproduct);
}

.privacy__statement a {
  text-decoration: none;
  color: var(--color-sellproduct);
  cursor: pointer;
}

/* ------------------------------- */
/* FIXME:  VIEW - LARGER SCREENS   */
/* ------------------------------- */

@media screen and (max-width: 430px) {
  .registration_form__header {
    font-size: 1rem;
    text-align: center;
  }
}

/* ===================================================================================================================== */
/* TODO:  PART 6 - SELLING PLAN 2 - SELL YOUR PRODUCT - REGISTRATION FORM                                                */
/* ===================================================================================================================== */

/* ---------------------------------------------- */
/* FIXME:  FORM CONTAINER  FIXME:                 */
/* ---------------------------------------------- */

/* form {
            width: 100vw;
          } */

/* ---------------------------------------------- */
/* FIXME:  FORM LABEL  FIXME:                     */
/* ---------------------------------------------- */

label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.5rem 1.75rem 0.5rem 1.75rem;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
}

/* ---------------------------------------------- */
/* FIXME:  INPUT FIELD TYPE =  TEXT  FIXME:       */
/* e.g. "NAME" or "LAST NAME" etc.                */
/* ---------------------------------------------- */

input[type="text"] {
  /* width: 25rem; */
  width: 96%;
  border-radius: 0.5rem;
  border: 1px solid var(--color-input-border);
  /* box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35); */
  /* box-shadow: 0 5px 4px rgba(0, 0, 0, 0.35); */
  margin: 0.5rem 1.4rem 0.5rem 1.4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: border-color 0.15s, box-shadow 0.15s;
}

input[type="text"]:focus {
  border-color: var(--color-input-border-focus);
  box-shadow: 0 0 0 2px rgba(139, 51, 101, 0.95);
  outline: 0;
}

/* ---------------------------------------------- */
/* FIXME:  INPUT FIELD TYPE =  TEL  FIXME:        */
/* e.g. "TELEPHONE" or "MOBILE" Number etc.       */
/* ---------------------------------------------- */

input[type="tel"] {
  /* width: 25rem; */
  width: 96%;
  border-radius: 0.5rem;
  border: 1px solid var(--color-input-border);
  /* box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35); */
  /* box-shadow: 0 5px 4px rgba(0, 0, 0, 0.35); */
  margin: 0.5rem 1.4rem 0.5rem 1.4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: border-color 0.15s, box-shadow 0.15s;
}

input[type="tel"]:focus {
  border-color: var(--color-input-border-focus);
  box-shadow: 0 0 0 2px rgba(139, 51, 101, 0.95);
  outline: 0;
}

/* ---------------------------------------------- */
/* FIXME:  INPUT FIELD TYPE =  TEXTAREA  FIXME:   */
/* Runs over multiple lines (rows) e.g. "Address" */
/* ---------------------------------------------- */

textarea {
  resize: none;
  /* width: 25rem; */
  width: 96%;
  border-radius: 0.5rem;
  border: 1px solid var(--color-input-border);
  /* box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35); */
  /* box-shadow: 0 5px 4px rgba(0, 0, 0, 0.35); */
  margin: 0.5rem 1.4rem 0.5rem 1.4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: "poppins", sans-serif;
  cursor: pointer;
  transition: border-color 0.15s, box-shadow 0.15s;
}

textarea:focus {
  border-color: var(--color-input-border-focus);
  box-shadow: 0 0 0 2px rgba(139, 51, 101, 0.95);
  outline: 0;
}

/* ---------------------------------------------- */
/* FIXME:  INPUT FIELD = DROPDOWN LIST     FIXME: */
/* e.g. Countries, Provinces, Titles etc.         */
/* ---------------------------------------------- */

select {
  /* width: 25rem; */
  width: 96%;
  border-radius: 0.5rem;
  border: 1px solid var(--color-input-border);
  /* box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35); */
  /* box-shadow: 0 5px 4px rgba(0, 0, 0, 0.35); */
  margin: 0.5rem 1.4rem 0.5rem 1.4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: border-color 0.15s, box-shadow 0.15s;
}

select:focus {
  border-color: var(--color-input-border-focus);
  box-shadow: 0 0 0 2px rgba(139, 51, 101, 0.95);
  outline: 0;
}

/* ------------------------------------------------------------------------- */
/* TODO:  START STYLING OF CUSTOM CHECKBOX                                   */
/* ------------------------------------------------------------------------- */

/* --------------------------------------- */
/* FIXME:  INPUT FIELD = CHECKBOX  FIXME:  */
/* --------------------------------------- */

.checkbox__option {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.1;
  text-transform: none;
  text-align: justify;
  display: grid;
  grid-template-columns: 1rem auto;
  gap: 2rem;
  margin: 2rem 1.5rem 2rem 1.4rem;
  cursor: pointer;
}

/* ------------------------------------ */
/* THIS IS TO HIDE THE NATIVE CHECKBOX  */
/* ------------------------------------ */

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: var(--color-custom-checkbox-background);
  /* Not removed via appearance */
  margin: 0;
}

/* --------------------------------------- */
/* THIS IS TO DISPLAY THE CUSTOM CHECKBOX  */
/* --------------------------------------- */

input[type="checkbox"] {
  appearance: none;
  background-color: var(--color-custom-checkbox-background);
  margin: 0;
  font: inherit;
  color: var(--color-custom-checkbox-border);
  width: 1.5rem;
  height: 1.5rem;
  border: 0.15em solid var(--color-custom-checkbox-border);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.checkbox__option + .checkbox__option {
  margin-top: 1rem;
}

/* --------------------------------------- */
/* CUSTOM CHECKBOX - CHECKED STATE         */
/* --------------------------------------- */

input[type="checkbox"]::before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-custom-checkbox-checkmark);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
  /* Creating a checkmark with CLIP-PATH */
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* --------------------------------------- */
/* CUSTOM CHECKBOX - FOCUSSED STATE        */
/* --------------------------------------- */

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid var(--color-custom-checkbox-focus);
  outline-offset: max(1px, 0.15em);
}

/* --------------------------------------- */
/* CUSTOM CHECKBOX - DISABLED STATE        */
/* --------------------------------------- */

.checkbox__option--disabled {
  color: var(--color-custom-checkbox-disabled);
  cursor: not-allowed;
}

input[type="checkbox"]:disabled {
  color: var(--color-custom-checkbox-disabled);
  cursor: not-allowed;
}

/* ------------------------------------------------------------------------- */
/* TODO:  END OF STYLING OF CUSTOM CHECKBOX                                  */
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------- */
/* TODO: START STYLING OF CUSTOM FILE-UPLOAD                                 */
/* ------------------------------------------------------------------------- */

/* ---------------------------------------------- */
/* FIXME: INPUT FIELD TYPE = FILE          FIXME: */
/* ---------------------------------------------- */

.file-input {
  display: inline-block;
  margin: 1rem 1.4rem 1rem 1.4rem;
  padding: 1rem 1rem 1rem 1rem;
  text-align: left;
  background: var(--color-custom-fileinput-background);
  /* width: 450px; */
  width: 96%;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 4px var(--color-custom-fileinput-shadow-01),
    3px 5px 20px var(--color-custom-fileinput-shadow-02);
}

/* ---------------------------------------------- */
/* HIDING THE NATIVE FILE UPLOADER                */
/* ---------------------------------------------- */

.file-input > [type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

/* -------------------------------------------- */
/* STYLE AND DISPLAY THE CUSTOM FILE UPLOADER   */
/* -------------------------------------------- */

.file-input > .button {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0.5rem 0.75rem 0.5rem;
  padding: 0.8rem 1rem 0.8rem 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  background: var(--color-custom-fileinput-background);
  border-radius: 0.5rem;
  box-shadow: 0px 5px 4px var(--color-custom-fileinput-shadow-01),
    3px 5px 20px var(--color-custom-fileinput-shadow-02);
  cursor: pointer;
}

.file-input:hover > .button {
  background: var(--color-custom-fileinput-background-hover);
  color: var(--color-custom-fileinput-background-hover-text);
}

.file-input > .label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0.5rem 0rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-custom-fileinput-label-text);
  white-space: nowrap;
  opacity: 0.5;
}

.file-input.-chosen > .label {
  opacity: 1;
}

.fa {
  font-size: 1.8rem;
  margin: 0rem 1rem 0rem 0rem;
}

label .label__strong {
  color: var(--color-sellproduct);
}

/* ------------------------------------------------------------------------- */
/* TODO:  END OF STYLING OF CUSTOM FILE-UPLOAD                               */
/* ------------------------------------------------------------------------- */

/* ------------------------------------------ */
/* FIXME:  INPUT FIELD TYPE =  EMAIL  FIXME:  */
/* ------------------------------------------ */

input[type="email"] {
  /* width: 25rem; */
  width: 96%;
  border-radius: 0.5rem;
  border: 1px solid var(--color-input-border);
  /* box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35); */
  /* box-shadow: 0 5px 4px rgba(0, 0, 0, 0.35); */
  margin: 0.5rem 1.4rem 0.5rem 1.4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: border-color 0.15s, box-shadow 0.15s;
}

input[type="email"]:focus {
  border-color: var(--color-input-border-focus);
  box-shadow: 0 0 0 2px rgba(139, 51, 101, 0.95);
  outline: 0;
}

/* ----------------------------- */
/* FIXME:  FORM BUTTONS  FIXME:  */
/* ----------------------------- */

button {
  background: var(--color-button-background);
  color: var(--color-button-text);
  border: 0;
  outline: 0;
  border-radius: 0.5rem;
  width: 20rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0.5rem 2rem 3rem 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.button__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form__group {
  margin: 0rem 0rem 1rem 1rem;
}

/* ---------------------------------------------- */
/* FIXME:  STYLING - GOOGLE RECAPTCHA  FIXME:     */
/* ---------------------------------------------- */

.g-recaptcha {
  margin: 2rem 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: scale(0.89); */
  transform: scale(1);
  /* -webkit-transform: scale(0.89); */
  -webkit-transform: scale(1);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

/* --------------------------------------------------------------- */
/* FIXME:  FINAL MEDIA QUERY - REGISTRATION FORM (SMALLER SCREENS) */
/* --------------------------------------------------------------- */

@media screen and (max-width: 600px) {
  button {
    margin: 0rem 1rem 2rem 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .button__container {
    flex-direction: column;
  }

  .file-input {
    margin: 1rem 0.2rem 1rem 0.2rem;
  }

  label {
    font-size: 1rem;
    margin: 0rem 0.6rem 0rem 0.5rem;
  }

  input[type="email"] {
    margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  }

  .checkbox__option {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 2rem 2rem 2rem 0.1rem;
  }

  select {
    margin: 0.5rem 0.1rem 0.5rem 0.1rem;
  }

  textarea {
    margin: 0.5rem 0.1rem 0.5rem 0.1rem;
  }

  input[type="tel"] {
    margin: 0.5rem 0.1rem 0.5rem 0.1rem;
  }

  input[type="text"] {
    margin: 0.5rem 0.1rem 0.5rem 0.1rem;
  }
}

@media screen and (max-width: 350px) {
  .g-recaptcha {
    margin: 2rem 1.5rem 2rem 4.5rem;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
}

/* ===================================================================================================================== */
/*                                                                                            TODO:  STYLING ENDS  TODO: */
/* ===================================================================================================================== */
