/* ===================================================================================================================== */
/* TODO:  STYLING FOR STATIC PAGE - WHAT WE DO                                                                           */
/* ===================================================================================================================== */

:root {
  /* --color-page-background: #f7f7f7; */
  --color-what-we-do-page-background: #eee;
  --color-what-we-do-button-background: #dc143c;
  --color-what-we-do-button-text: white;
  --color-what-we-do-ultimate-package-text: #dc143c;
}

* {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-what-we-do-page-background);
}

/* ===================================================================================================================== */
/* TODO:  SET THE RESPONSIVE DEFAULT SIZES FOR ALL HEADING ELEMENTS (H1 - H6)                                      TODO: */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* TODO:  HEADING ELEMENTS : MOBILE / SMALLER SCREENS STYLING                                        FIXME: MOBILE FIRST */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* GENERAL NOTES (ALL HEADER ELEMENTS):                                                                                  */
/* 1.  Set the FONT-FAMILY to be used for the page (i.e. Google Fonts)                                                   */
/* 2.  Set all MARGINS - Top-Rigth-Bottom-Left                                                                           */
/* 3.  Set the FONT-WEIGHT : normal, bold, 100, 300, 500, 700 etc.                                                       */
/* ===================================================================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins", sans-serif;
  margin: 0rem 0rem 2rem 0rem;
  font-weight: 300;
}

/* ===================================================================================================================== */
/* GENERAL NOTES (INDIVIDUAL HEADER ELEMENTS):                                                                           */
/* 1.  Set the FONT-SIZE to be used as the standard for the page [1.6rem = 16px]                                         */
/* 2.  Set LINE-HEIGHT (spacing) : 1rem, 1.25rem, 1.4rem, 1.5rem etc                                                     */
/* 3.  Set LETTER-SPACING : normal, 0.1rem, 0.2rem, 0.3rem etc                                                           */
/* ===================================================================================================================== */

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: 0.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: 0.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* ===================================================================================================================== */
/* TODO:  HEADING ELEMENTS : WEBSITE / LARGER SCREENS STYLING                                      FIXME: LARGER SCREENS */
/* ===================================================================================================================== */

@media (min-width: 600px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

/* ===================================================================================================================== */
/* TODO:  PART 1 - PAGE TITLE                                                                                            */
/* ===================================================================================================================== */

/* ------------------------------- */
/* FIXME:  VIEW - MOBILE FIRST     */
/* ------------------------------- */

.what__we__do__page__title h5 {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-transform: uppercase;
  margin: 1.5rem 0rem 1.5rem 0rem;
}

/* ------------------------------- */
/* FIXME:  VIEW - LARGER SCREENS   */
/* ------------------------------- */

/* ===================================================================================================================== */
/* TODO:  PART 2 - EMBEDDED YOUTUBE VIDEO                                                                                */
/* ===================================================================================================================== */

/* ------------------------------- */
/* FIXME:  VIEW - MOBILE FIRST     */
/* ------------------------------- */

.what__we__do__video__container {
  position: relative;
  height: 0;
  width: 100%;
  margin: 0rem 0rem 1.5rem 0rem;
  padding: 0rem 0rem 56.25% 0rem;
}

.what__we__do__video__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.45rem 0.75rem 0.45rem 0.75rem;
  /* border-radius: 1.5rem; */
}

/* ------------------------------- */
/* FIXME:  VIEW - LARGER SCREENS   */
/* ------------------------------- */

@media screen and (min-width: 768px) {
  .what__we__do__video__container iframe {
    padding: 0.2rem 0.75rem 0.2rem 0.75rem;
    /* border-radius: 2rem; */
  }
}

/* ===================================================================================================================== */
/* TODO:  PART 3 - PAGE CONTENT                                                                                          */
/* ===================================================================================================================== */

/* ------------------------------- */
/* FIXME:  VIEW - MOBILE FIRST     */
/* ------------------------------- */

.what__we__do__page__content section {
  margin: 1.5rem 0rem 1.5rem 0rem;
}

.what__we__do__page__content section h6 {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.what__we__do__drop__shipping {
  position: relative;
  margin: 3rem 0rem 3rem 0rem;
}

.what__we__do__drop__shipping img {
  width: 100%;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35);
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.what__we__do__drop__servicing {
  position: relative;
  margin: 3rem 0rem 3rem 0rem;
}

.what__we__do__drop__servicing img {
  width: 100%;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35);
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.what__we__do__page__content {
  margin: 1rem 2rem 1rem 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}

.what__we__do__paragraph__01,
.what__we__do__paragraph__02,
.what__we__do__paragraph__03,
.what__we__do__paragraph__04,
.what__we__do__paragraph__05,
.what__we__do__paragraph__06,
.what__we__do__paragraph__07,
.what__we__do__paragraph__08,
.what__we__do__paragraph__09,
.what__we__do__paragraph__10,
.what__we__do__paragraph__11 {
  margin: 2rem 0rem 1rem 0rem;
}

.what__we__do__buttons__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem 0rem 0rem;
}

.what__we__do__spn__benefits {
  margin: 1rem 0.5rem 1rem 1.5rem;
}

.what__we__do__spn__benefits .benefit__item {
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.what__we__do__buttons__container button {
  text-decoration: none;
  text-transform: uppercase;
  width: 15rem;
  font-size: 1rem;
  font-weight: 600;
  margin: 0rem 0rem 1rem 0rem;
  padding: 1rem 1rem 1rem 1rem;
  letter-spacing: 0.05rem;
  border: none;
  outline: none;
  background: var(--color-what-we-do-button-background);
  border-radius: 0.5rem;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.what__we__do__buttons__container button a {
  text-decoration: none;
  color: var(--color-what-we-do-button-text);
  cursor: pointer;
}

.what__we__do__buttons__container button:hover {
  transform: scale(1.04);
}

/* ------------------------------- */
/* FIXME:  VIEW - LARGER SCREENS   */
/* ------------------------------- */

@media screen and (min-width: 720px) {
  .what__we__do__page__content section h6 {
    font-size: 1.6rem;
  }

  .what__we__do__page__content {
    font-size: 1.5rem;
  }

  .what__we__do__buttons__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem 2rem 0rem;
  }

  .what__we__do__buttons__container button {
    margin: 0rem 1rem 0rem 0rem;
  }
}

/* ===================================================================================================================== */
/*                                                                                            TODO:  STYLING ENDS  TODO: */
/* ===================================================================================================================== */
