/* ===================================================================================================================== */
/* TODO:  STYLING FOR TEMPLATE - RESPONSIVE NAVIGATION CONTAINER                                                         */
/* ===================================================================================================================== */

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* ===================================================================================================================== */
/* TODO:  PART 1 - CONTAINER (ALL) - HOLDS ALL CONTAINERS                                                                */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES - CONTAINER (ALL)                                                                               */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

.container_all {
  position: relative;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* ===================================================================================================================== */
/* TODO:  PART 2 - CONTAINER (01)                                                                                        */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES - CONTAINER (01)                                                                                */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

.container_01 {
  position: relative;
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid red;
}

/* FIXME:  SHOPMAX LOGO SCALING (100%) = FACTOR 4.91         */
/* WIDTH = 50rem (500px) ==>  HEIGTH = 10.185rem (101.85px)  */
/* WIDTH = 40rem (400px) ==>  HEIGTH =  8.148rem  (81.48px)  */
/* WIDTH = 30rem (300px) ==>  HEIGTH =  6.111rem  (61.11px)  */
/* WIDTH = 20rem (200px) ==>  HEIGTH =  4.074rem  (40.74px)  */
/* WIDTH = 10rem (100px) ==>  HEIGTH =  2.037rem  (20.37px)  */

.container_01 .logo {
  width: 30%;
  margin: auto;
  display: block;
  border: 1px solid purple;
}

/* ===================================================================================================================== */
/* TODO:  PART 3 - CONTAINER (02)                                                                                        */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES - CONTAINER (02)                                                                                */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

.container_02 {
  position: relative;
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid blue;
}

.container_02 .logo {
  width: 30%;
  margin: auto;
  display: block;
  border: 1px solid purple;
}

/* ===================================================================================================================== */
/* TODO:  PART 4 - CONTAINER (03)                                                                                        */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES - CONTAINER (03)                                                                                */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

.container_03 {
  position: relative;
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid green;
}

.container_03 .logo {
  width: 30%;
  margin: auto;
  display: block;
  border: 1px solid purple;
}

/* ===================================================================================================================== */
/* TODO:  PART 5 - CONTAINER (04)                                                                                        */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES - CONTAINER (04)                                                                                */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

.container_04 {
  position: relative;
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid yellow;
}

.container_04 .logo {
  width: 30%;
  margin: auto;
  display: block;
  border: 1px solid purple;
}

/* ===================================================================================================================== */
/* TODO:  PART 6 - CONTAINER (05)                                                                                        */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES - CONTAINER (05)                                                                                */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

.container_05 {
  position: relative;
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid orange;
}

.container_05 .logo {
  width: 30%;
  margin: auto;
  display: block;
  border: 1px solid purple;
}

/* ===================================================================================================================== */
/* TODO:  PART 7 - CONTAINER (06)                                                                                        */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES - CONTAINER (06)                                                                                */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

.container_06 {
  position: relative;
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid pink;
}

.container_06 .logo {
  width: 30%;
  margin: auto;
  display: block;
  border: 1px solid purple;
}

/* ===================================================================================================================== */
/* TODO:  PART 8 - CONTAINER (07)                                                                                        */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES - CONTAINER (07)                                                                                */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

.container_07 {
  position: relative;
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid lightblue;
}

.container_07 .logo {
  width: 30%;
  margin: auto;
  display: block;
  border: 1px solid purple;
}

/* ===================================================================================================================== */
/* TODO:  PART 9 - CONTAINER (08)                                                                                        */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES - CONTAINER (08)                                                                                */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

.container_08 {
  position: relative;
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid lightcoral;
}

.container_08 .logo {
  width: 30%;
  margin: auto;
  display: block;
  border: 1px solid purple;
}

/* ===================================================================================================================== */
/* TODO:  PART 10 - RESPONSIVE MOBILE VIEW (MEDIA QUERY)                                                                 */
/* ===================================================================================================================== */

/* ===================================================================================================================== */
/* FIXME:  SPECIAL NOTES - RESPONSIVE MOBILE VIEW (MEDIA QUERY)                                                          */
/* ===================================================================================================================== */
/* 01.            */
/* 02.            */
/* 03             */
/* 04.            */
/* 05.            */
/* ===================================================================================================================== */

@media screen and (max-width: 768px) {
  .container_all {
    display: flex;
    flex-direction: column;
  }
}

/* ===================================================================================================================== */
/*                                                                                            TODO:  STYLING ENDS  TODO: */
/* ===================================================================================================================== */
